{% extends 'layout.html' %}

{% block pageTitle %}
What happens next
{% endblock %}

{% block beforeContent %}
    {{ backLink({
        text: 'Go back',
        href: 'javascript:history.back();'
    }) }}
{% endblock %}


{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <span class="nhsuk-caption-m">Confirm your entitlement</span>
    <h2>
      What happens next?
    </h2>
    <p>To try to confirm you were entitled to free NHS Prescriptions, we’ll:</p>
    <ul>
      <li>ask for some details about your exemption, benefit or prepayment certificate</li>
      <li>check for other reasons you may have been entitled to free NHS prescriptions</li>
      <li>tell you how to send us proof you were entitled to free NHS prescriptions if we need this</li>
      <li>let you know the next steps</li>
    </ul>

    <div class="nhsuk-inset-text">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <p>If we can confirm you were entitled we will close your case and there will be no further action needed.</p>
      <p>If we cannot confirm you were entitled you will be sent a Penalty Charge Notice. This will include information
        on how and when to pay.</p>
    </div>
    <p><a href="https://www.nhsbsa.nhs.uk/our-policies/privacy/challenge-your-pcn-privacy-notice">Find out more about
        how we use your information (opens in a new window)</a>.</p>
    <a href="did-you-have-this-benefit" class="nhsuk-button">
      Continue
    </a>
    {% endblock %}