{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Select how many months you want to pay over
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}

<div class="nhsuk-back-link">
<a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
  <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
  </svg>
  Go back</a>
</div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="direct-debit-date" method="post" class="form">

        <span class="nhsuk-caption-m">Pay a Penalty Charge Notice</span>
        <h1 class="nhsuk-heading-xl">Select how many months you want to pay over</h1>
        <div class="nhsuk-form-group">
          <p>Your total amount to pay is £123.80. You will not be charged interest on this amount and it will not affect your credit score.</p>
          <p>Select how many months you want to pay over</p>

<div class="nhsuk-form-group">
  <div class="nhsuk-radios">

    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="example-hints-1" name="example-hints" type="radio" value="gateway" aria-describedby="example-hints-1-item-hint">
      <label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
        3 months
      </label>
      <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
        1 payment of £41.28 followed by 2 payments of £41.26
      </div>
    </div>
    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="example-hints-1" name="example-hints" type="radio" value="gateway" aria-describedby="example-hints-1-item-hint">
      <label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
        6 months
      </label>
      <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
        1 payment of £20.65 followed by 5 payments of £20.63
      </div>
    </div>
    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="example-hints-1" name="example-hints" type="radio" value="gateway" aria-describedby="example-hints-1-item-hint">
      <label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
        12 months
      </label>
      <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
        1 payment of £10.39 followed by 11 payments of £10.31
      </div>
    </div>
       
       </div>
    </div>
    <p><a href="https://www.nhsbsa.nhs.uk/contact-nhs-help-health-costs" target="_blank">Contact us if you cannot afford any of these monthly plans (link opens in new window).</a></p>
            </fieldset>
        
        
    <div class="nhsuk-form-group">
     <button class="nhsuk-button" type="submit">
      Continue
     </button>
    </div>

  </form>
   

    </div>
  </div>

{% endblock %}
