{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Check your details are correct
{% endblock %}

{% block outerContent %}
{{ backLink({
href: 'javascript:history.back();',
text: "Go back"
}) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="check-personal-details" method="post" class="form">

      <span class="nhsuk-caption-m">Confirm your entitlement</span>
      <h1 class="nhsuk-heading-l">Check your details are correct</h1>

      <div class="nhsuk-hint" id="contact-hint">
        We took these details from your prescription.<br><br>
        They should match what was shown on your exemption or prepayment certificate, or on your benefit award.
      </div>



      {{ summaryList({
      rows: [
      {
      key: {
      text: "Name"
      },
      value: {
      text: "Jack burton"
      },
      actions: {
      items: [
      {
      href: "update-name",
      text: "Change",
      visuallyHiddenText: "name"
      }
      ]
      }
      },
      {
      key: {
      text: "Date of birth"
      },
      value: {
      text: "21 December 1985"
      },
      actions: {
      items: [
      {
      href: "date-of-birth",
      text: "Change",
      visuallyHiddenText: "Date of birth"
      }
      ]
      }
      },
      {
      key: {
      text: "Address"
      },
      value: {
      html: '12 Old Oak Road
      </br>Throckley </br>NE67 9AD'
      },
      actions: {
      items: [
      {
      href: "",
      text: "Change",
      visuallyHiddenText: "Address"
      }
      ]
      }
      }
      ]
      }) }}

      {{ checkboxes({
      idPrefix: "confirm",
      name: "confirm",
      items: [
      {
      value: "confirm",
      text: '
      I confirm that the details are correct'
      }
      ]
      }) }}

      {{ button({
      text: "Continue"
      }) }}
    </form>
    <p><a href="respond-to-your-letter">Cancel</a></p>

  </div>
</div>

{% endblock %}