{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
What is your telephone number?
{% endblock %}

{% block outerContent %}
{{ backLink({
href: 'javascript:history.back();',
text: "Go back"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="what-is-your-phone-number" method="post" class="form">
      <div class="heading-group">
        <span class="nhsuk-caption-m">Confirm your entitlement</span>
        <h2>What is your telephone number?</h2>
        <div class="nhsuk-form-group">

          {{ input({
          label: {
          text: ""
          },
          id: "telephone",
          name: "telephone",
          inputmode: "number",
          classes: "nhsuk-input--width-20"
          }) }}
        </div>

        {{ button({
        text: 'Continue'
        }) }}
        <p class="navigation"><a class="cancel" href="respond-to-your-letter">Cancel</a></p>
    </form>

  </div>
</div>

{% endblock %}