// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/gov-styles';
@import 'components/list-border';
@import 'components/related-nav';
@import 'components/phase-banner';
@import 'components/timeout';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////


.smaller-heading .nhsuk-warning-callout__label {
    font-size: 16px;
    font-size: 1rem;
}
@include nhsuk-media-query($from: tablet) {
    .smaller-heading .nhsuk-warning-callout__label {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.47368;
    }
}

@media print {
    .no-print {
        display: none;
    }
}

.nhsuk-footer a[href="?debug=false"],
.nhsuk-footer[data-type="pecs"] a[href="?type=pecs"],
.nhsuk-footer[data-type="decs"] a[href="?type=decs"],
.nhsuk-footer[data-letter="enquiry"] a[href="?letter=enquiry"],
.nhsuk-footer[data-letter="pcn"] a[href="?letter=pcn"],
.nhsuk-footer[data-letter="scn"] a[href="?letter=scn"],
.nhsuk-footer[data-status="default"] a[href="?status=default"],
.nhsuk-footer[data-status="dd-blocked"] a[href="?status=dd-blocked"] {
   font-weight: 600;
}

/* DD TABS */
@include nhsuk-media-query($until: tablet) {

    #dd-tabs .nhsuk-tabs__panel {
        background-color: #FFF;
        padding: 1rem 1rem 2rem 1rem;
        border: 1px solid #d8dde0;
    }

    
    #dd-tabs h3 {
        padding: 8px 17px;
        top: -17px;
        background-color: #005eb8;
        color: #fff;
        display: inline-block;
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.42105;
        margin: -8px 0 0 -17px;
        outline: 1px solid transparent;
        outline-offset: -1px;
        position: relative;
    }

    #dd-tabs .nhsuk-tabs__panel > h4 {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.42105;
    }

}

@include nhsuk-media-query($from: tablet) {

    #dd-tabs h3 {
        display: none;
    }

}