// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';
@import 'components/phase-banner';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
 
.timeout-warning-modal {
    border: 4px solid $nhsuk-focus-text-color;
    padding: 20px;
    background-color: $color_nhsuk-white;
}

