{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
You didn't have a valid medical exemption certificate
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}



  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
        </div>

      <form action="5" method="get" class="form">

        <span class="nhsuk-caption-m">Confirm your entitlement</span>
        
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              You didn't have a valid medical exemption certificate at the time, but you can still apply
            </h1>
          </legend>

          <p>Although you didn't have a valid medical exemption certificate when you claimed a free prescription, you still have the chance to apply.</p>

          <h3>Pay the prescription charge now</h3>
          <p>You will need to pay the original £35.20 prescription charge.</p>
          <p>When asked to enter the amount you are paying, you just need to type <strong>£17.60</strong> (not the full Penalty Charge Notice amount)</p>
         
      
            <a class="nhsuk-button" href="pay-by-card">Pay now</a>
          
          

          <h3>Apply for a medical exemption certificate</h3>

          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>You only have until the 07 May 2023 to get a medical exemption certificate.</p>
          </div>
          <p>Ask your doctor how to apply.</p>
          <p>You can only apply for a medical exemption certificate if your condition is on the accepted list (below). If you're unsure about the name of your condition or treatment, check with your doctor.</p>

          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                List of accepted medical conditions
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <ul>
                <li><strong>cancer and are undergoing treatment</strong><br>including treatment for the effects of cancer or the effects of cancer treatment.</li>
                <li><strong>diabetes (type 1 or type 2)</strong><br>if you need medication to keep blood sugar levels stable.</li>
                <li><strong>diabetes insipidus</strong><br>and other forms of hypopituitarism.</li>
                <li><strong>a continuing physical disability</strong><br>which means you can't go out without the help of another person.</li>
                <li><strong>epilepsy</strong><br>if you need continuous anticonvulsive therapy</li>
                <li><strong>a permanent fistula</strong><br>which needs continuous surgical dressing or an appliance - for example, caecostomy, colostomy, laryeigostom or ileostomy.</li>
                <li><strong>hypoadrenalism</strong><br>where specific substitution therapy is essential - for example, Addison's Disease.</li>
                <li><strong>hypoparathyroidism</strong><br>which means your parathyroid glands produce too little parathyroid hormone.</li>
               
             
                <li><strong>myasthenia gravis</strong><br>where ana autoimmune condition affects your nerves and muscles.</li>
                <li><strong>myxoedema</strong><br>for example, hypothyroidism which needs thyroid hormone replacement.</li>
              </ul>
          
            </div>
          </details>

          <h3>What happens next?</h3>
          <p>After your medical exemption certificate application has been submitted, an automatic check is carried out. You do not need to telephone us.</p>
          <p>If your application has been successful and you have paid the £17.60 your Penalty Charge Notice will be closed. You don't need to do anything more.</p>
          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>If your doctor tells you that you are not eligible for a medical exemption certificate you will need to pay the full amount of the Penalty Charge Notice.</p>
          </div>
         

        
         
          <h3>Feedback</h3>
          <p>Leaving feedback takes 5 minutes. Your comments will help us to provide a better service.</p>

          <p><a href="url">Leave feedback</a></p>

              
              
                  
              
                    
              
              
        
        
        
        
        </div>



        </div>
         
          

        
   

    </div>
  </div>

{% endblock %}
