{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
What do you want to do next?
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}

{{ backLink({
href: 'javascript:history.back();',
text: "Go back"
}) }}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <span class="nhsuk-caption-m">Confirm your entitlement</span>
    <h2>
      What happens next?
    </h2>
    <p>We'll try to confirm you were entitled to free NHS prescriptions.</p>
    <p>If we can confirm you were entitled, we'll close your case and no further action will be needed.</p>
    <p>If we cannot confirm you were entitled, you'll be sent Penalty Charge Notice.</p>
    <p>To try and confirm you were entitled we'll:</p>
    <ul>
      <li>ask for some details about your benefit, exemption or prepayment certificate</li>
      <li>check for other reasons you may have been entitled to free NHS prescriptions</li>
      <li>tell you how to send us proof you were entitled to free NHS prescriptions if we need this</li>

    </ul>


    <p><a href="https://www.nhsbsa.nhs.uk/our-policies/privacy/challenge-your-pcn-privacy-notice" target="_blank">Find
        out more about how we use your information (opens in a new window)</a>.</p>
    <form action="confirm-entitlement" method="post" class="form">
      {{ button({
      text: 'Continue'
      }) }}
    </form>
    <p><a href="respond-to-your-letter">Cancel</a></p>
    {% endblock %}