{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
You cannot pay yet
{% endblock %}

{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-m">Respond to your letter</span>
      <h1>
        You cannot pay yet
      </h1>
    
      <p>You have not yet been issued a Penalty Charge Notice (PCN).</p>
      
      <p>We send the enquiry letter before the PCN to give you time to confirm if you were entitled to free NHS prescriptions.</p>
      <p>If you do not confirm you were entitled to free or reduced dental costs within [number] days (by [date]) we will issue a PCN. When you receive the PCN you will be able to use this service to pay your penalty charge.</p>
     
    </div>
  </div>
  <style>
  
  </style>
{% endblock %}
