{% extends 'layout.html' %}

{% block pageTitle %}
An exemption has been found
{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">


    <span class="nhsuk-caption-m">Confirm your entitlement</span>
    <h1>This case has been closed</h1>
    <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading" style="text-align: center; color: white;">
          Thank you
        </h2>

        <h2 class="nhsuk-card__content" style="text-align: center; color: white;">You do not need to do anything else.
        </h2>



      </div>
    </div>





    <div class="nhsuk-inset-text">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <p>Michelle Doe</p>
      <p>Reference number 01234567890</p>
    </div>

    <p>There should be no further correspondence sent about this. <a href="">Contact us if you receive anything
        further</a>.</p>


    <p><a href="">Print this page</a></p>


    <h3>Feedback</h3>
    <p>Leaving feedback takes 5 minutes. Your comments will help us provide a better service.</p>
    <p><a href="https://online1.snapsurveys.com/interview/c65416e2-df71-4e71-a691-315b9abb4eae"target="_blank">Leave feedback (opens in a new window)</a></p>


  </div>
</div>
{% endblock %}