{% extends 'layout.html' %}

{% block pageTitle %}
Enquiry Letter
{% endblock %}




{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-m">Your details</span>
      <h1>
        Enquiry letter reference 01234567890
      </h1>

      <div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Important: </span>
            Do not delay
          </span>
        </h3>
        <p>You now have 28 days to confirm you were entitled to free or reduced dental costs (by 28 March 2018). If you can confirm this, it will resolve the issue and stop you getting a penalty charge.</p>
      </div>
     
    
       <h2>Check your details carefully</h2>

       <p>We check details on your prescription match the details on your exemption certificate, qualifying benefit, or prepayment certificate.</p>
      <p>We have not been able to confirm you were entitled to free or reduced dental costs using these details.</p>
      
      <h3>Details on the prescription</h3>
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Name
          </dt>
          <dd class="nhsuk-summary-list__value">
            Michellle Doe
          </dd>
      
        </div>
        
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Address
          </dt>
          <dd class="nhsuk-summary-list__value">
            12 Old Oak Road<br>Throckley<br> NE2 4XL
          </dd>
      
        </div>
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Exemption reason ticked
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Has a valid medical exemption certificate</p>
            
          </dd>
      
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date prescription was claimed
          </dt>
          <dd class="nhsuk-summary-list__value">
            Between 1 November 2017 and 30 November 2017
          </dd>
      
        </div>
        
      </dl>
      <p>If you were entitled to free or reduced dental costs, answering some questions to confirm this can help us resolve this issue. We can check if you had an exemption certificate or qualifying benefit, or if you had a valid prepayment certificate.  </p>
      </dl>
    </div>
   
  </div>
  <a href="what-you-want-to-do-next-copy" class="nhsuk-button">
    Continue
  </a>
{% endblock %}
