{% extends 'layout.html' %}

{% block pageTitle %}
Enquiry letter
{% endblock %}




{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-m">Your details</span>
      <h1>
        Enquiry letter reference 01234567890
      </h1>

      <div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Important: </span>
            Do not delay
          </span>
        </h3>
        <p>You now have 28 days to confirm you were entitled to free or reduced cost NHS dental treatment (by 28 March 2018). If you can confirm this, it will resolve the issue and stop you getting a penalty charge.</p>
      </div>
     
    
       <h2>Check your details carefully</h2>

       <p>We check details from on your dental treatment form and check these against match the details on your exemption certificate or qualifying benefit.</p>
      <p>We have not been able to confirm you were entitled to free or reduced cost NHS dental treatment using these details.</p>
     
      <h3>Details on the dental treatment form</h3>
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Name
          </dt>
          <dd class="nhsuk-summary-list__value">
            Michellle Doe
          </dd>
      
        </div>
        
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Address
          </dt>
          <dd class="nhsuk-summary-list__value">
            12 Old Oak Road<br>Throckley<br> NE67 9AD
          </dd>
      
        </div>
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Exemption reason ticked
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Gets Universal credit</p>
            
          </dd>
      
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date dental treatment was claimed
          </dt>
          <dd class="nhsuk-summary-list__value">
            Between 1 November 2017 and 30 November 2017
          </dd>
      
        </div>
        
      </dl>
      <p>If you were entitled to free or reduced cost NHS dental treatment, answering some questions to confirm this can help us resolve this issue. We can check if you had a valid exemption certificate or qualifying benefit.</p>
      </dl>
    </div>
   
  </div>
  <a href="what-you-want-to-do-next" class="nhsuk-button">
    Continue
  </a>
{% endblock %}
