{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
What do you want to do next?
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: 'javascript:history.back();',
    text: 'Go back'
  }) }}
{% endblock %}

{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="filter-options" method="get" class="form">

        <span class="nhsuk-caption-m">Confirm your entitlement</span>
        <h1 class="nhsuk-heading-l">What do you want to do next?</h1>
        <div class="nhsuk-form-group">
          <div class="nhsuk-radios nhsuk-radios">
            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="penalty-confirm-pay" name="confirm" type="radio" value="entitlement">
                <label class="nhsuk-label nhsuk-radios__label" for="entitlement">
                  Confirm I was entitled to free or reduced cost NHS dental treatment
                </label>
            </div>
            <div class="nhsuk-hint" id="example-with-hint-text-hint">
              We'll check if you were getting a qualifying benefit or had a valid exemption certificate.
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="penalty-confirm-pay" name="confirm" type="radio" value="pay">
              <label class="nhsuk-label nhsuk-radios__label" for="pay">
                I was not entitled to free or reduced cost NHS dental treatment and want to know what happens next
              </label>
          </div>
          <!-- <div class="nhsuk-hint" id="example-with-hint-text-hint">
            If you've received a PCN you can pay by credit or debit card, or by Direct Debit.
          </div> -->

          <div class="nhsuk-radios__divider">or</div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="penalty-confirm-pay" name="confirm" type="radio" value="entitlement">
            <label class="nhsuk-label nhsuk-radios__label" for="entitlement">
              I'm not sure if I was entitled to free or reduced cost NHS dental treatment and want to check.
            </label>
        </div>
        <!-- <div class="nhsuk-hint" id="example-with-hint-text-hint">
          We can check if you had an exemption certificate or qualifying benefit, or if you had a valid prepayment certificate.
        </div> -->
         
         </div>
         
            

          </fieldset>
        
        </div>
    <div class="nhsuk-form-group">
    <button class="nhsuk-button" type="submit">
     Continue
    </button>
    </div>

        
    <p><a href="respond-to-your-letter">Cancel</a></p>

    </div>
  </div>
  <style>
    .nhsuk-hint {
      margin-left: 50px;
    }
  </style>

{% endblock %}
