{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Did you have an NHS exemption
{% endblock %}

{% block beforeContent %}
{{ backLink({
href: 'javascript:history.back();',
text: 'Go back'
}) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {# ================= ERROR HANDLING ================= #}
    {# error summary #}
    {% if data.didYouHaveAnExemptionError %}
    {{ errorSummary({
    titleText: "There is a problem",
    errorList: [
    {
    text: data.didYouHaveAnExemptionError,
    href: "#didYouHaveAnExemption"
    }
    ]
    }) }}
    {% endif %}

    {% set errorMessage = null %}
    {% if data.didYouHaveAnExemptionError %}
    {% set errorMessage = {
    text: data.didYouHaveAnExemptionError
    } %}
    {% endif %}

    <span class="nhsuk-caption-m">Confirm your entitlement</span>

    <form action="/{{ data.version }}/{{ data.letter }}/did-you-have-an-exemption" method="post">

      {{ radios({
      idPrefix: "didYouHaveAnExemption",
      name: "didYouHaveAnExemption",
      value: data.didYouHaveAnExemption,
      errorMessage: errorMessage,
      fieldset: {
      legend: {
      text: "Did you have one of these NHS exemption certificates between 1 November and 30 November 2017?",
      classes: "nhsuk-fieldset__legend--l",
      isPageHeading: true
      }
      },
      items: [
      { value: "med", text: "Medical exemption certificate" },
      { value: "mat", text: "Maternity exemption certificate" },
      { value: "ppc", text: "Prescription Prepayment Certificate (PPC)" },
      { value: "hc2", text: "HC2 certificate (full help with health costs)" },
      { value: "tc", text: "NHS Tax Credit Exemption Certificate" },
      { divider: "or" },
      { value: "no", text: "No, none of these" }
      ]
      }) }}

      {{ button({ text: "Continue" }) }}

    </form>

    <p>
      <a href="/{{ data.version }}/{{ data.letter }}/respond-to-your-letter">
        Cancel
      </a>
    </p>

  </div>
</div>

{% endblock %}