{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Benefit check
{% endblock %}

{% block beforeContent %}
{{ backLink({
href: 'javascript:history.back();',
text: 'Go back'
}) }}
{% endblock %}

{% block content %}

{% set questionText = "[DWP Benefit] between 1 November and 30 November 2017?" %}

{% if data.isBsa %}
{% set questionText = "Did you have a valid NHSBSA benefit between 22 November 2019 and 30 November 2019?" %}
{% endif %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {# ================= ERROR HANDLING ================= #}
    {% if data.nhsError %}
    {{ errorSummary({
    titleText: "There is a problem",
    errorList: [
    {
    text: data.nhsError,
    href: "#nhs"
    }
    ]
    }) }}
    {% endif %}

    {% set errorMessage = null %}
    {% if data.nhsError %}
    {% set errorMessage = { text: data.nhsError } %}
    {% endif %}

    <span class="nhsuk-caption-m">Confirm your entitlement</span>

    <form action="/{{ data.version }}/{{ data.letter }}/did-you-have-this-benefit" method="post">

      {{ radios({
      idPrefix: "nhs",
      name: "nhs",
      value: data.nhs,
      errorMessage: errorMessage,
      fieldset: {
      legend: {
      text: questionText,
      classes: "nhsuk-fieldset__legend--l",
      isPageHeading: true
      }
      },
      items: [
      { value: "yes", text: "Yes" },
      { value: "no", text: "No" }
      ]
      }) }}

      {{ button({ text: "Continue" }) }}

    </form>

  </div>
</div>

{% endblock %}