{% extends 'layout.html' %}

{% block pageTitle %}
What is your reference number? - {{ serviceName }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {# ================= ERROR HANDLING ================= #}
    {% set errorMessage = null %}
    {% if data.referenceNumberError %}
    {% set errorMessage = {
    text: data.referenceNumberError
    } %}
    {% endif %}

    {% if data.referenceNumberError %}
    {{ errorSummary({
    titleText: "There is a problem",
    errorList: [
    {
    text: data.referenceNumberError,
    href: "#referenceNumber"
    }
    ]
    }) }}
    {% endif %}

    <form action="/{{ data.version }}/{{ data.letter }}/enter-reference-number" method="post">

      <span class="nhsuk-caption-m">Your details</span>

      {{ input({
      label: {
      text: 'What is your reference number?',
      classes: 'nhsuk-label--l',
      isPageHeading: true
      },
      hint: {
      text: hintText
      },
      id: 'referenceNumber',
      name: 'referenceNumber',
      value: data.referenceNumber,
      classes: 'nhsuk-input--width-10',
      errorMessage: errorMessage
      }) }}

      {{ button({
      text: 'Continue'
      }) }}

    </form>

    <p><a href="start">Cancel</a></p>

  </div>
</div>

{% endblock %}