{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Enter your postcode as shown on your letter
{% endblock %}

{% block outerContent %}
{{ backLink({
href: 'javascript:history.back();',
text: "Go back"
}) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {# ================= ERROR HANDLING ================= #}
    {% set errorMessage = null %}
    {% if data.postCodeError %}
    {% set errorMessage = {
    text: data.postCodeError
    } %}
    {% endif %}

    {% if data.postCodeError %}
    {{ errorSummary({
    titleText: "There is a problem",
    errorList: [
    {
    text: data.postCodeError,
    href: "#postCode"
    }
    ]
    }) }}
    {% endif %}

    <form action="/{{ data.version }}/{{ data.letter }}/enter-postcode" method="post">

      <span class="nhsuk-caption-m">Your details</span>

      {% call fieldset({
      legend: {
      text: 'Enter your postcode as shown on your letter',
      classes: 'nhsuk-fieldset__legend--l',
      isPageHeading: true
      }
      }) %}

      {{ input({
      hint: {
      text: "For example, WA4 1AB"
      },
      classes: 'nhsuk-u-width-two-thirds',
      id: 'postCode',
      name: 'postCode',
      value: data.postCode,
      errorMessage: errorMessage
      }) }}

      {% endcall %}

      {{ button({
      text: 'Continue'
      }) }}

      <p><a href="respond-to-your-letter">Cancel</a></p>

    </form>

  </div>
</div>

{% endblock %}