{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
You didn't have a valid medical exemption certificate
{% endblock %}

{% block content %}

{% set totalBill = data.totalBillFormatted %}
{% set Charge = data.chargeFormatted %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {# ================= ERROR SUMMARY ================= #}

    {% if data.noMedicalConditionsError %}

    {{ errorSummary({
    titleText: "There is a problem",
    errorList: [
    {
    text: data.noMedicalConditionsError,
    href: "#NoMedicalConditions"
    }
    ]
    }) }}

    {% endif %}

    <span class="nhsuk-caption-m">Confirm your entitlement</span>

    <h1 class="nhsuk-heading-l">
      You did not have a valid medical exemption certificate at the time, but you can still apply for one
    </h1>

    {% if data.type == "pecs" %}
    <p>Although you did not have a valid medical exemption certificate when you claimed a free NHS prescription, you
      still have the chance to apply for one.</p>
    {% else %}
    <p>Although you did not have a valid medical exemption certificate when you claimed free or reduced cost NHS
      dental treatment, you still have the chance to apply for one.</p>
    {% endif %}

    <p>
      You have until <strong>10 July 2026</strong> to get a medical exemption certificate.
    </p>

    {% if data.type == "pecs" %}
    <p>If your application is successful, you'll only have to pay the original prescription charge. You will not have
      to pay your penalty charge.</p>
    {% else %}
    <p>If your application is successful, you'll only have to pay the original dental treatment charge. You will not
      have to pay your penalty charge.</p>
    {% endif %}

    <h3>What do you want to do next?</h3>

    <form action="/{{ data.version }}/{{ data.letter }}/no-medical-exemption" method="post">

      {% if data.type == "pecs" %}
      {% set claimType = "prescription charge" %}
      {% else %}
      {% set claimType = "dental charge" %}
      {% endif %}

      {{ radios({
      idPrefix: "NoMedicalConditions",
      name: "NoMedicalConditions",
      classes: "nhsuk-radios--inline",
      items: [
      {
      value: "payCost",
      text: "Pay the original £" + Charge + " " + claimType + ", and apply for a medical exemption certificate"
      },
      {
      value: "payPenalty",
      text: "Pay the full penalty charge amount of £" + totalBill
      }
      ]
      }) }}

      {{ button({
      text: "Continue"
      }) }}

    </form>

    {% if data.type == "pecs" %}
    <p>If you were not entitled to free NHS prescriptions but have an exceptional reason why you made the claim, you
      can ask us to review your Penalty Charge Notice. <a href="who-can-ask-for-review">Find out if you can ask for a
        review</a>.</p>
    {% else %}
    <p>If you were not entitled to free or reduced cost NHS dental treatment, but have an exceptional reason why you
      made the claim, you can ask us to review your Penalty Charge Notice. <a href="who-can-ask-for-review">Find out
        if you can ask for a review</a>.</p>
    {% endif %}

    <p>
      <a href="">Print this page</a>
    </p>

  </div>
</div>

{% endblock %}