{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Pay by card
{% endblock %}

{% block beforeContent %}
{{ backLink({
text: 'Go back',
href: 'javascript:history.back();'
}) }}
{% endblock %}

{% block content %}

{% set outstanding = data.outstandingBalanceFormatted %}
{% set totalPaid = data.totalPaidSoFarFormatted %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {% set errorMessage = null %}

    {% if data.amountError %}

    {{ errorSummary({
    titleText: "There is a problem",
    errorList: [
    {
    text: data.amountError,
    href: "#amountToPay"
    }
    ]
    }) }}

    {% set errorMessage = {
    text: data.amountError
    } %}

    {% endif %}

    <form action="/{{ data.version }}/{{ data.letter }}/partial-payment" method="post">

      <span class="nhsuk-caption-m">
        Pay a Penalty Charge Notice
      </span>

      <h1 class="nhsuk-heading-l">
        How much are you paying today?
      </h1>

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">

          <h3 class="nhsuk-card__heading">
            Payment summary
          </h3>

          {{ summaryList({
          rows: [
          {
          key: {
          text: "Amount still to pay"
          },
          value: {
          html: "<strong>£" + outstanding + "</strong>"
          }
          },
          {
          key: {
          text: "Already paid"
          },
          value: {
          html: "£" + totalPaid
          }
          }
          ]
          }) }}

        </div>
      </div>

      <div class="nhsuk-form-group">

        {{ input({
        label: {
        text: "Amount to pay"
        },
        id: "amountToPay",
        name: "amountToPay",
        prefix: "£",
        classes: "nhsuk-input--width-5",
        value: data.amountToPay,
        errorMessage: errorMessage,
        spellcheck: false
        }) }}

      </div>

      <p>
        You cannot change this on the next page.
      </p>

      {{ button({
      text: 'Continue'
      }) }}

    </form>

    <p>
      <a href="/{{ data.version }}/{{ data.letter }}/respond-to-your-letter">
        Cancel
      </a>
    </p>

  </div>
</div>

{% endblock %}