{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
You didn't have a valid medical exemption certificate
{% endblock %}

{% block beforeContent %}
{{ backLink({
text: 'Go back',
href: 'javascript:history.back();'
}) }}
{% endblock %}

{% block content %}

{% set Charge = data.chargeFormatted %}

{% if data.type == "pecs" %}
{% set claimTitle = "Pay your prescription charge and apply for a medical exemption certificate" %}
{% else %}
{% set claimTitle = "Pay your dental treatment charge and apply for a medical exemption certificate" %}
{% endif %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="/{{ data.version }}/{{ data.letter }}/pay-apply-medical-exemption" method="post">
      <span class="nhsuk-caption-m">Confirm your entitlement</span>

      <h1 class="nhsuk-heading-l">
        {{ claimTitle }}
      </h1>

      {% if data.type == "pecs" %}
      <p>You can use this service to pay the original £{{Charge}} prescription charge.</p>
      {% else %}
      <p>You can use this service to pay the original £{{Charge}} dental treatment charge.</p>
      {% endif %}

      <p>To apply for a medical exemption certificate, speak to your doctor. They'll give you an application form.</p>

      {{ warningCallout({
      heading: "Important",
      html: "<p>You have until <strong>10 July 2026</strong> to get a medical exemption certificate.</p>
      <p>If you are not eligible, you'll need to pay the full Penalty Charge Notice (PCN).</p>"
      }) }}

      {% if data.type == "pecs" %}
      <h3>Pay the prescription charge now</h3>
      <p>You'll need to pay the original £{{Charge}} prescription charge.</p>
      {% else %}
      <h3>Pay the dental treatment charge now</h3>
      <p>You'll need to pay the original £{{Charge}} dental treatment charge.</p>
      {% endif %}

      {{ button({
      text: "Pay now"
      }) }}

      <h3>What happens next?</h3>

      <p>After your application has been submitted, an automatic check is carried out. You do not need to contact us.
      </p>

      {% if data.type == "pecs" %}
      <p>If your application is successful and you pay the £{{Charge}} prescription charge your PCN will be closed.
        You'll not need to do anything more.</p>
      {% else %}
      <p>If your application is successful and you pay the £{{Charge}} dental treatment charge your PCN will be closed.
        You'll not need to do anything more.</p>
      {% endif %}

    </form>
  </div>
</div>

{% endblock %}