{% extends 'layout.html' %}

{% block pageTitle %}
Payment confirmation
{% endblock %}

{% block content %}

{# ================================
SOURCE OF TRUTH (SESSION ONLY)
================================ #}

{% set totalBill = data.totalBillFormatted %}
{% set totalPaid = data.totalPaidSoFarFormatted %}
{% set remaining = data.outstandingBalanceFormatted %}
{% set latestPayment = data.currentPaymentFormatted %}

{% set isPartial = data.isPartialPayment %}

{% set referenceNumber = data.referenceNumber or "123456789" %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <span class="nhsuk-caption-m">
      Pay a Penalty Charge Notice
    </span>

    {% if isPartial %}
    <h1 class="nhsuk-heading-xl">Partial payment made</h1>
    {% else %}
    <h1 class="nhsuk-heading-xl">Full payment made</h1>
    {% endif %}

    <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
      <div class="nhsuk-card__content">

        <h2 class="nhsuk-heading-l" style="text-align:center; color:white; padding:32px;">
          {% if isPartial %}
          You have paid £{{latestPayment}} towards your Penalty Charge Notice
          {% else %}
          You have paid your Penalty Charge Notice in full and your case has now been closed.
          {% endif %}
        </h2>

      </div>
    </div>
    <h2 class="nhsuk-heading-l">Payment confirmation</h2>

    {% if isPartial %}
    <p>
      We've received your payment towards your Penalty Charge Notice.
    </p>

    {% else %}

    <p>
      We've received your full payment and have closed your case.
      You do not need to do anything else.
    </p>

    {% endif %}


    <div class="nhsuk-inset-text">

      {% if isPartial %}

      {{ summaryList({
      rows: [
      {
      key: { text: "Penalty Charge Notice reference number" },
      value: { text: referenceNumber }
      },
      {
      key: { text: "So far you've paid" },
      value: { text: "£" + totalPaid }
      },
      {
      key: { text: "You still need to pay" },
      value: { html: "<strong>£" + remaining + "</strong>" }
      }
      ]
      }) }}

      {% else %}

      {{ summaryList({
      rows: [
      {
      key: { text: "Penalty Charge Notice reference number" },
      value: { text: referenceNumber }
      },
      {
      key: { text: "You've paid" },
      value: { text: "£" + totalPaid }
      }
      ]
      }) }}

      {% endif %}

    </div>

    {% if isPartial %}

    <h3 class="nhsuk-heading-m">Further payments</h3>

    <p>
      You can use this service to pay the remaining amount of
      <strong>£{{ remaining }}</strong>.
    </p>

    <a class="nhsuk-button" href="payment-method">
      Make another payment
    </a>

    {% endif %}

    <!-- Matex application content -->
    {% if variant === "maternity-exemption-partial" %}

    <p>If your application for a maternity exemption certificate is successful, you'll not need to pay the remaining
      amount.</p>

    <p>You have until <strong>10 July 2026</strong> to get a maternity exemption certificate. To apply for a maternity
      exemption certificate, speak to your midwife, doctor or health visitor. They'll complete the application for you.
    </p>
    <p>If you are not eligible for a maternity exemption certificate you'll need to pay the remaining amount of
      <strong>£{{ remaining }}</strong></p>

    {% endif %}

    <!-- Medex application content -->
    {% if variant === "medical-exemption-partial" %}

    <p>If your application for a medical exemption certificate is successful, you'll not need to pay the remaining
      amount.</p>

    <p>You have until <strong>10 July 2026</strong> to get a medical exemption certificate. To apply, speak to your
      doctor, they give you an application form.</p>
    <p>If you are not eligible for a medical exemption certificate you'll need to pay the remaining amount of
      <strong>£{{ remaining }}</strong>
    </p>

    {% endif %}

    <a href="javascript:window.print();">
      <p>
        Print this page
      </p>
    </a>

    <h2>How to avoid a future Penalty Charge Notice</h2>
    <p>We match exemptions using a combination of your:</p>
    <ul>
      <li>name</li>
      <li>address</li>
      <li>date of birth</li>
      <li>NHS number</li>
    </ul>

    <p>Make sure your details are correct at your GP surgery, dental practice, and any benefits organisations.</p>
    <p>If any of your details are not up to date, you may receive another Penalty Charge Notice in the future.</p>

    {% from "action-link/macro.njk" import actionLink %}

    {{ actionLink({
    text: "Check if you are currently entitled to help with your health costs.",
    href: "https://www.nhsbsa.nhs.uk/check-if-youre-eligible-help"
    }) }}

    <h3>Feedback</h3>
    <p>Leaving feedback takes 5 minutes. Your comments will help us provide a better service.</p>
    <p><a href="https://online1.snapsurveys.com/interview/c65416e2-df71-4e71-a691-315b9abb4eae" target="_blank">Leave
        feedback (opens in a new window)</a></p>
  </div>
</div>

{% endblock %}