{% extends 'layout.html' %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
What is your name?
{% endblock %}

{% block beforeContent %}
{{ backLink({
href: 'javascript:history.back();',
text: 'Go back'
}) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {# ================= ERROR HANDLING ================= #}
    {% set errorList = [] %}

    {% if data.firstNameError %}
    {% set _ = errorList.push({
    text: data.firstNameError,
    href: "#firstName"
    }) %}
    {% endif %}

    {% if data.lastNameError %}
    {% set _ = errorList.push({
    text: data.lastNameError,
    href: "#lastName"
    }) %}
    {% endif %}

    {% if errorList.length %}
    {{ errorSummary({
    titleText: "There is a problem",
    errorList: errorList
    }) }}
    {% endif %}

    {% set firstNameError = null %}
    {% set lastNameError = null %}

    {% if data.firstNameError %}
    {% set firstNameError = { text: data.firstNameError } %}
    {% endif %}

    {% if data.lastNameError %}
    {% set lastNameError = { text: data.lastNameError } %}
    {% endif %}

    <form action="/{{ data.version }}/{{ data.letter }}/update-name" method="post">

      <span class="nhsuk-caption-m">Confirm your entitlement</span>

      <h1 class="nhsuk-heading-l">
        How was your name written on your [Benefit]?
      </h1>

      {{ input({
      id: "firstName",
      name: "firstName",
      value: data.firstName,
      classes: "nhsuk-input--width-20",
      errorMessage: firstNameError,
      label: {
      text: "First name"
      }
      }) }}

      {{ input({
      id: "lastName",
      name: "lastName",
      value: data.lastName,
      classes: "nhsuk-input--width-20",
      errorMessage: lastNameError,
      label: {
      text: "Last name"
      }
      }) }}

      {{ button({ text: "Continue" }) }}

      <p class="navigation">
        <a class="cancel" href="respond-to-your-letter">Cancel</a>
      </p>

    </form>

  </div>
</div>

{% endblock %}