{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
What is your telephone number?
{% endblock %}

{% block beforeContent %}
{{ backLink({
href: 'javascript:history.back();',
text: 'Go back'
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {# ================= ERROR HANDLING ================= #}
    {% set errorMessage = null %}

    {% if data.phoneNumberError %}
    {% set errorMessage = { text: data.phoneNumberError } %}
    {% set emailErrorMessage = null %}

    {{ errorSummary({
    titleText: "There is a problem",
    errorList: [
    {
    text: data.phoneNumberError,
    href: "#what-is-your-phone-number"
    }
    ]
    }) }}
    {% endif %}

    <form action="/{{ data.version }}/{{ data.letter }}/what-is-your-phone-number" method="post">

      <span class="nhsuk-caption-m">Confirm your entitlement</span>
      <h1 class="nhsuk-heading-l">What is your telephone number?</h1>

      {{ input({
      id: "telephone",
      name: "telephone",
      value: data.phoneNumber,
      classes: "nhsuk-input--width-20",
      errorMessage: errorMessage,
      attributes: {
      inputmode: "numeric",
      autocomplete: "tel"
      }
      }) }}

      {{ button({ text: "Continue" }) }}


      <p class="navigation"><a class="cancel" href="respond-to-your-letter">Cancel</a></p>
    </form>

  </div>
</div>

{% endblock %}