{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Asking for a review
{% endblock %}

{% block content %}

{{ backLink({
href: 'javascript:history.back();',
text: "Go back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <span class="nhsuk-caption-m">Confirm your entitlement</span>
    <h1 class="nhsuk nhsuk-heading-l">
      Asking for a review
    </h1>

    <p>We understand that you may have made an honest mistake and did not mean to do anything wrong.</p>
    <p>If you have an exceptional reason why you claimed a free NHS prescription you were not entitled to, you can ask
      for a review.</p>



    <h3>Reasons we will not usually accept</h3>
    <p>We will not usually review your enquiry letter if:</p>
    <ul>
      <li>your exemption certificate had expired</li>
      <li>you feel that you were misadvised by your GP or by pharmacy staff</li>
      <li>you thought that your benefit entitled you to claim</li>
      <li>you thought your prescription prepayment certificate would automatically renew</li>
    </ul>
    <h3>What to do next</h3>
    <p>If you have an exceptional reason why you made the claim at the time, <a
        href="https://www.nhsbsa.nhs.uk/contact-nhs-help-health-costs">contact us to review your enquiry letter</a>.</p>
    <p>When you contact us you must include your:</p>
    <ul>
      <li>reference number 11193492846</li>
      <li>full name</li>
      <li>date of birth</li>
      <li>address including postcode</li>
    </ul>

    <h3>If you're not entitled to a review</h3>
    <p>You will be sent a Penalty Charge Notice. This will include information on how and when to pay your penalty
      charge.</p>


  </div>
</div>
<style>

</style>
{% endblock %}