{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Pay by card
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}

{{ backLink({
href: 'javascript:history.back();',
text: "Go back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <span class="nhsuk-caption-m">Pay a Penalty Charge Notice</span>
    <h1 class="nhsuk-heading-l">Pay by card</h1>
    <form action="gov-pay" method="post" class="form">
      {{ card({
      heading: "If you need help now, but it’s not an emergency",
      headingLevel: "3",
      descriptionHtml: '<div class="nhsuk-form-group">

        <p>It can take up to 24 hours for payment information to update.</p>
        <p>Total amount: £123.80</p>
        <p>Payment made: £0.00</p>
        <p>Total due: £123.80</p>
        <p>You cannot change this on the next page.</p>
        <h3>Amount to pay</h3>

        <div class="nhsuk-form-group">
          <p class="">£
            <input class="nhsuk-input nhsuk-input--width-5" id="input-width-5" name="test-width-5" type="text">
          </p>


        </div>

        </fieldset>

      </div>'
      }) }}


      <div class="nhsuk-form-group">
        {{ button({
        text: 'Continue'
        }) }}
      </div>




  </div>
</div>


{% endblock %}