{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  What is your date of birth?
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">		

		{% if formError %}
		<div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
			<h2 class="nhsuk-error-summary__title" id="error-summary-title">
				There is a problem
			</h2>
			<div class="nhsuk-error-summary__body">
				<ul class="nhsuk-list nhsuk-error-summary__list" role="list">
					<li>
						<a href="#day">Enter your date of birth</a>
					</li>
				</ul>
			</div>
		</div>
		{% endif %}

		<span class="nhsuk-caption-m">Your details</span>

		<form action="date-of-birth" method="post" class="form">
			<div class="nhsuk-form-group {% if formError %} nhsuk-form-group--error {% endif %}">

				<fieldset class="nhsuk-fieldset" aria-describedby="dob-hint" role="group">
					<legend class="nhsuk-fieldset__legend nhsuk-label--l">
						<h1 class="nhsuk-fieldset__heading">
							What is your date of birth?
						</h1>
					</legend>

					<div class="nhsuk-hint" id="dob-hint">
						For example, 31 3 1980
					</div>

					{% if formError %}
					<span class="nhsuk-error-message" id="reference-error">
						<span class="nhsuk-u-visually-hidden">Error:</span> Enter your date of birth
					</span>
					{% endif %}
			  
					<div class="nhsuk-date-input" id="dob">
						<div class="nhsuk-date-input__item">
							<div class="nhsuk-form-group">
								<label class="nhsuk-label nhsuk-date-input__label" for="day">
									Day
								</label>
								<input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 {% if formError %} nhsuk-input--error {% endif %}" id="day" name="day" type="text" inputmode="numeric">
							</div>
						</div>

						<div class="nhsuk-date-input__item">
							<div class="nhsuk-form-group">
								<label class="nhsuk-label nhsuk-date-input__label" for="month">
									Month
								</label>
								<input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 {% if formError %} nhsuk-input--error {% endif %}" id="month" name="month" type="text" inputmode="numeric">
							</div>
						</div>

						<div class="nhsuk-date-input__item">
							<div class="nhsuk-form-group">
							<label class="nhsuk-label nhsuk-date-input__label" for="year">
								Year
							</label>
							<input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 {% if formError %} nhsuk-input--error {% endif %}" id="year" name="year" type="text" inputmode="numeric">
							</div>
						</div>
					</div>
				</fieldset>
			</div>

			<button class="nhsuk-button" data-module="nhsuk-button" type="submit">
				Continue
			</button>
		</form>	
        
    	<p><a href="respond-to-your-letter">Cancel</a></p>
    </div>
</div>

{% endblock %}
