{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
	Enter your postcode as shown on your letter
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

		{% if formError %}
		<div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
			<h2 class="nhsuk-error-summary__title" id="error-summary-title">
				There is a problem
			</h2>
			<div class="nhsuk-error-summary__body">
				<ul class="nhsuk-list nhsuk-error-summary__list" role="list">
					<li>
						<a href="#postcode">Enter your postcode</a>
					</li>
				</ul>
			</div>
		</div>
		{% endif %}

		<span class="nhsuk-caption-m">Your details</span>

		<form action="enter-postcode" method="post" class="form">

			<div class="nhsuk-form-group {% if formError %} nhsuk-form-group--error {% endif %}">
				<legend class="nhsuk-fieldset__legend nhsuk-label--l">
					<h1 class="nhsuk-fieldset__heading" id="postcode-label">
						Enter your postcode as shown on your letter
					</h1>
				</legend>
		
				<div class="nhsuk-hint" id="postcode-hint">
					For example, WA4 1AB
				</div>

				{% if formError %}
				<span class="nhsuk-error-message" id="postcode-error">
					<span class="nhsuk-u-visually-hidden">Error:</span> Enter your postcode
				</span>
				{% endif %}

				<input class="nhsuk-input nhsuk-u-width-one-half {% if formError %} nhsuk-input--error {% endif %}" id="postcode" name="postcode" type="text" aria-labelledby="postcode-label">
			</div>

			<button class="nhsuk-button" data-module="nhsuk-button" type="submit">
				Continue
			</button>
		</form>
       
	   <p><a href="respond-to-your-letter">Cancel</a></p>
    </div>
</div>

{% endblock %}
