{% extends "layout-gov.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  	<div class="grid-row">
    	<div class="column-two-thirds">

      		<h1 class="govuk-heading-xl nhsuk-u-margin-top-4">Confirm your payment</h1>
      
				<div class="payment-summary-wrap">
        			<div class="payment-summary">
          				<h2 class="govuk-heading-l">Payment summary</h2>
           
            			<p class="govuk-body govuk-!-margin-bottom-0" style="font-size:19px;">Total amount:</p>
            			<span id="amount" class="amount govuk-!-font-size-36 govuk-!-font-weight-bold" style="font-size:36px !important;">
              				£{{ data['partial-amount'] | default('50') }}.00
            			</span>
        			</div>

					<dl class="govuk-summary-list">
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">
								Card number
							</dt>
							<dd class="govuk-summary-list__value">
								●●●●●●●●●●●●{{data['card-number'].slice(-4) | default('●●●●●●●●●●●●1111')}}
							</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">
								Expiry date
							</dt>
							<dd class="govuk-summary-list__value">
								{{ data['expiry-month'] | default('01') }}/{{ data['expiry-year'] | default('25') }}
							</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">
								Name on card
							</dt>
							<dd class="govuk-summary-list__value">
								{{ data['cardholder'] | default('Michelle Doe') }}
							</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">
								Billing address
							</dt>
							<dd class="govuk-summary-list__value">
								{{ data['addressLineOne'] | default('12 Old Oak Road') }}<br>
								{{ data['addressTown'] | default('Throckley') }}<br>
								{{ data['addressPostcode'] | default('NE1 OLD') }}
							</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">
								Confirmation email
							</dt>
							<dd class="govuk-summary-list__value">
								{{ data['gov-pay-email'] | default('michelle.doe123@test.com') }}
							</dd>
						</div>
					</dl>

					<div class="form-group" style="margin-top:20px">
						<a href="full-payment-made" class="govuk-button">
							Confirm payment
						</a>
					
						<p class="navigation"><a class="cancel" href="/v6-pcn/kickout/payment-has-been-cancelled">Cancel payment</a></p>
					</div>
		        </form>
      		</div>
		</div>
  	</div>
</main>

{% endblock %}