{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
How much are you paying today?
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}

<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
    <a class="nhsuk-back-link__link" href="pay-by-card">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back
    </a>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
		{% if formError %}
		<div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
			<h2 class="nhsuk-error-summary__title" id="error-summary-title">
				There is a problem
			</h2>
			<div class="nhsuk-error-summary__body">
				<ul class="nhsuk-list nhsuk-error-summary__list" role="list">
					<li>
						<a href="#partial">Enter payment amount</a>
					</li>
				</ul>
			</div>
		</div>
		{% endif %}

		<span class="nhsuk-caption-m">Pay a Penalty Charge Notice</span>
		<h1 class="nhsuk-heading-l">How much are you paying today?</h1>
		
		<div class="nhsuk-card">
			<div class="nhsuk-card__content">
				<h2 class="nhsuk-heading-m">
					Penalty Charge Notice amount
				</h2>
			
				<dl class="nhsuk-summary-list nhsuk-summary-list">			  
					<div class="nhsuk-summary-list__row">
						<dt class="nhsuk-summary-list__key">
							Total amount
						</dt>
						<dd class="nhsuk-summary-list__value">
							£57.90
						</dd>
					</div>
				</dl>

				<h2 class="nhsuk-heading-m">
					Previous payments
				</h2>
			  
				<dl class="nhsuk-summary-list nhsuk-summary-list">
					<div class="nhsuk-summary-list__row">
						<dt class="nhsuk-summary-list__key">
							Payments made
						</dt>
						<dd class="nhsuk-summary-list__value">
							£7.90
						</dd>
					</div>
				</dl>

				<h2 class="nhsuk-heading-l">
					Amount still to pay: £50
				</h2>
			</div>
		</div>

      	<form action="partial-payment" method="post" class="form">
			<div class="nhsuk-form-group  {% if formError %} nhsuk-form-group--error {% endif %}">
				<label class="nhsuk-label" for="partial">
					Amount to pay
				</label>

				{% if formError %}
				<span class="nhsuk-error-message" id="partial-error">
					<span class="nhsuk-u-visually-hidden">Error:</span> Enter payment amount
				</span>
				{% endif %}
				
				<div class="nhsuk-input__wrapper">
					<div class="nhsuk-input__prefix" aria-hidden="true">£</div>
					<input class="nhsuk-input nhsuk-input--width-5 {% if formError %} nhsuk-input--error {% endif %}" id="partial" name="partial-amount" type="text">
				</div>
			</div>

        	<p>You cannot change this on the next page.</p>

			<button class="nhsuk-button" data-module="nhsuk-button" type="submit">
				Continue
			</button>
		</form>

    	<p><a class="cancel" href="respond-to-your-letter">Cancel</a></p>
    </div>
</div>
 

{% endblock %}
