{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
We cannot find your details
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}



  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      

        <span class="nhsuk-caption-m">Confirm your entitlement</span>
        
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              We cannot find your details
            </h1>
          </legend>

          <p>The information you have given us does not prove you were entitled to free NHS prescriptions between 18 November 2019 to 30 November 2019.</p>

          <h3>What to do next</h2>

          <p>You have the following options:</p>



          <form action="medex-cannot-find-details" method="get" class="form">


            <div class="nhsuk-form-group">
    
              <div class="nhsuk-radios nhsuk-radios">
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="debit-card" name="debit" type="radio" value="credit">
                  <label class="nhsuk-label nhsuk-radios__label" for="yes">
                    Pay the total amount of £57.90
                  </label>
                  
                </div>
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="debit-card" name="debit" type="radio" value="direct">
                  <label class="nhsuk-label nhsuk-radios__label" for="no">
                    Send us proof to show that you were entitled to free NHS prescriptions or had a valid prescription prepayment certificate between 13 March 2023 and 31 March 2023.
                  </label>
    
                </div>
              </div>
            </div>
            <button class="nhsuk-button" type="submit">
              Continue
            </button>
    
          </form>

         
            <!-- <ul>
              
              <lI>Pay the total amount of £57.90</lI>
              <a class="nhsuk-button" href="pay-by-card">Pay now</a>

              <li>Send us proof to show that you were entitled to free NHS prescriptions or had a valid prescription prepayment certificate between 13 March 2023 and 31 March 2023.</li>
              <a class="nhsuk-button" href="we-need-proof">How to send proof</a>
            </ul>
            
          -->

          <p>If you were not entitled to free NHS prescriptions but have an exceptional reason why you made this claim, you can ask us to review your enquiry letter. <a href="who-can-ask-for-review">Find out if you can ask for a review</a></p>
          <p><a href="">Print this page</a></p>
          <h3>Feedback</h3>
          <p>Leaving feedback takes 5 minutes. Your comments will help us provide a better service.</p>

          <p><a href="https://online1.snapsurveys.com/interview/c65416e2-df71-4e71-a691-315b9abb4eae">Leave feedback (opens in a new window)</a></p>

              
              
                  
              
                    
              
              
        
        
        
        
        </div>



        </div>
         
          

        
   

    </div>
  </div>

{% endblock %}
