{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
We cannot find your details
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-l">Your details</span>
      <h1 class="nhsuk-heading-l">
        We cannot find your details
      </h1>
    
      <p>We have been unable to confirm your identity using the information you've provided. Check your answers and change any that are incorrect.</p>
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Reference
          </dt>
          <dd class="nhsuk-summary-list__value">
            1234567890
          </dd>
      
          
      
        </div>
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="nhsuk-summary-list__value">
            15 March 1984
          </dd>
      
          
      
        </div>
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Postcode
          </dt>
          <dd class="nhsuk-summary-list__value">
            LS2 5ZN
          </dd>
      
          
      
        </div>
      </dl>
      

        <a href="respond-to-your-letter" class="nhsuk-button">Try again</a>
        <p>If your answers are correct, <a href="https://www.nhsbsa.nhs.uk/contact-nhs-help-health-costs">contact us</a> if you have received a letter about claiming help with your health costs.</p>
         


      
    </div>
  </div>
  <style>
  
  </style>
{% endblock %}
