{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Did you have a valid [Benefit]between 22 November 2019 and 30 November 2019?
{% endblock %}

{% block beforeContent %}
    {{ backLink({
        text: 'Go back',
        href: 'javascript:history.back();'
    }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="benefit-exemption" method="get" class="form">

        <span class="nhsuk-caption-m">Confirm your entitlement</span>
        <h2>[DWP Benefit] between 22 November 2019 and 30 November 2019?</h2>
        <div class="nhsuk-form-group">

          <div class="nhsuk-radios nhsuk-radios">
            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="benefit-exemption" name="exemption" type="radio" value="yes">
                <label class="nhsuk-label nhsuk-radios__label" for="yes">
                    Yes
                </label>
            </div>
            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="benefit-exemption" name="exemption" type="radio" value="no">
                <label class="nhsuk-label nhsuk-radios__label" for="no">
                    No
                </label>
            </div>
        </div>
          </fieldset>
        
        </div>
    <div class="nhsuk-form-group">
    <button class="nhsuk-button" type="submit">
     Continue
    </button>
    <p><a href="respond-to-your-letter">Cancel</a></p>
    </div>

        
   

    </div>
  </div>

{% endblock %}
