{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
What is your reference number?
{% endblock %}

{% block outerContent %}
  
{% endblock %}

{% block content %}



  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/v2/what-is-dob" method="post" class="form">

        <span class="nhsuk-caption">Your details</span>
        <h1 class="nhsuk-heading-l">
          What is your reference number?
        </h1>
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="one-half">
            <div class="nhsuk-hint" id="example-with-hint-text-hint">
              You can find this on your letter. Only include numbers in your reference number
            </div>
          </label>
          <input class="nhsuk-input nhsuk-u-width-one-half" id="one-half" name="one-half" type="text">
        </div>
        <a href="enter-reference-number-again" class="nhsuk-button">
          Continue
        </a>
       </form>

       <p><a href="respond-to-your-letter">Cancel</a></p>

    </div>
  </div>

{% endblock %}
