{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Exemption certification not valid
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}

<span class="nhsuk-caption-l">Confirm your entitlement</span>
        <h1 class="nhsuk-heading-xl">Your exemption certificate was not valid at the time you claimed</h1>

        <p>This may have been because your certificate had expired or you did not get the certificate in time.</p>
        <h2>If you were not entitled</h2>
        <p>You will need to pay the total amount of £57.90.</p>

        <a class="nhsuk-button" href="payment-method">Pay now</a>

        <div>
          <p>If you were not entitled to free prescriptions but have an exceptional reason why you made this claim, you can ask us to review your Penalty Charge Notice. <a href="who-can-ask-for-review"> Find out if you can ask for a review.</a></p>

        </div>

        <h2>If you think you were entitled</h2>

        <p>Send us proof to show that you were entitled to free NHS prescriptions or had a valid Prescription Prepayment Certificate between 13 March 2023 and 31 March 2023.</p>

        <p><a href="we-need-proof">Find out about what we can accept as proof and where to send it</a>.</p>

        <p><a href="url">Print this page</a></p>

        <p><h2>Feedback</h2></p>
        <p>Leaving feedback takes 5 minutes. Your comments will help us to provide a better service.</p>

        <p><a href="https://online1.snapsurveys.com/interview/c65416e2-df71-4e71-a691-315b9abb4eae"target="_blank">Leave feedback (opens in a new tab)</a></p>


    </div>
  </div>

{% endblock %}
