{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Exemption found refund
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}

<span class="nhsuk-caption-l">Confirm your entitlement</span>
 <h1 class="nhsuk-heading-l">
  Exemption found - You may be entitled to a refund if payments were made
</h1>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
           
          </h1>
          
          <h2 class="nhsuk-card__content" style="text-align: center; color: white;">You do not have to pay any charges.</h2>
          
          
          
        </div>
      </div>
     </div>

      </div>

      <p>We have matched an exemption based on the details you have given.</p>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>Michelle Doe<br>Penalty Charge Notice: 01234567890</p>
      </div>

      <h2>Get a refund</h2>
      <p>You may be entitled to a refund. Call us on 0300 330 1293 to find out how you can claim this.</p>

      <p><a href="">Print this page</a></p>
      <h2>How to avoid a future Penalty Charge Notice</h2>
      <p>We match exemptions using a combination of your:</p>
      <ul>
        <li>name</li>
        <li>address</li>
        <li>date of birth</li>
        <li>NHS number</li>
      </ul> 
        <p>Make sure these are correct at your GP surgery, dental practice, and any benefits organisations.</p>
        <p><a href="">Contact us to check the name and address on you NHS exemption</a></p></p>
     <p>If any of your details are not up to date, you may receive another Penalty Charge Notice in the future.</p>
        
        
<p><h2>Feedback</h2></p> 
<p>Leaving feedback takes 5 minutes. Your comments will help us to provide a better service</p>  
<p> <a href="">Leave feedback</a></p>


    </div>
  </div>

{% endblock %}
