{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Exemption found refund
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}

<span class="nhsuk-caption-l">Confirm your entitlement</span>
 <h1 class="nhsuk-heading-l">
  Exemption found - You may be entitled to a refund if payments were made
</h1>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__content" style="text-align: center; color: white;">You do not have to pay any charges.</h2>
        </div>
      </div>


      <p>We have matched an exemption based on the details you have given.</p>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>Michelle Doe<br>Penalty Charge Notice: 01234567890</p>
      </div>

      <h2>Get a refund</h2>
      <p>You may be entitled to a refund. Contact us to find out how you can claim this.</p>
      <p>You can contact us by:</p>
      <p><strong>Email</strong>: <a href="mailto:someone@example.com">nhsbsa.decs@nhsbsa.nhs.uk</a></p>
      <p><strong>Telephone</strong>: 0300 330 1293</p>
      <p><a href="https://www.nhsbsa.nhs.uk/contact-nhs-help-health-costs" target="_blank">Find out about call charges and
          other ways to contact us on our website</a>.</p>

      <p><a href="">Print this page</a></p>
      <h2>How to avoid a future Penalty Charge Notice</h2>
      <p>We match exemptions using a combination of your:</p>
      <ul>
        <li>name</li>
        <li>address</li>
        <li>date of birth</li>
        <li>NHS number</li>
      </ul> 
      <p>Make sure these are correct at your GP surgery, dental practice, and any benefits organisations.</p>
      <p>If any of your details are not up to date, you may receive another Penalty Charge Notice in the future.</p>
        
        
      <h2>Feedback</h2>
      <p>Leaving feedback takes 5 minutes. Your comments will help us provide a better service</p>  
      <p><a href="https://online1.snapsurveys.com/interview/c65416e2-df71-4e71-a691-315b9abb4eae"target="_blank">Leave feedback (opens in a new window)</a></p>


    </div>
  </div>

{% endblock %}
