{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
You didn't have a valid medical exemption certificate
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}



  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
        </div>

      <form action="5" method="get" class="form">

        <span class="nhsuk-caption-m">Confirm your entitlement</span>
        
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
             Pay your prescription charge and apply for a medical exemption certificate
            </h1>
          </legend>


          <p>You can use this service to pay the original £9.65 prescription charge.</p>
         
          <p>To apply for a medical exemption certificate, speak to your doctor. They'll give you an application form.</p>
          
          
          

          

          <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">
              <span role="text">
                <span class="nhsuk-u-visually-hidden">Important: </span>
                Important
              </span>
            </h3>
            <p>You have until <strong>10 July 2023</strong> to get a medical exemption certificate.</p>
            <p>If you are not eligible for a medical exemption certificate you'll need to pay the full amount of the Penalty Charge Notice (PCN).</p>
          </div>
          
          

          
          <h3>Pay the prescription charge now</h3>
          <p>You'll need to pay the original £9.65 prescription charge.</p>
          
         
      
            <a class="nhsuk-button" href="gov-pay-prescription">Pay now</a>
            <h3>What happens next?</h3>
            <p>After your medical exemption certificate application has been submitted, an automatic check is carried out. You do not need to contact us.</p>
            <p>If your application is successful and you pay the £9.65 prescription charge your PCN will be closed. You'll not need to do anything more.</p>
            
  

        
         
        
              
              
                  
              
                    
              
              
        
        
        
        
        </div>



        </div>
         
          

        
   

    </div>
  </div>

{% endblock %}
