<!-- 

  FORM TYPES 
  
  partial
  partialAlreadyPaid
  simplified

-->
{% macro partialPaymentForm( formType = 'partial' ) %}

    {% from 'input/macro.njk' import input %}
    {% from 'checkboxes/macro.njk' import checkboxes %}
    {% from 'button/macro.njk' import button %}

    <form action="gov-pay-partial" method="post" class="form">

        {{ input({
                label: {
                  text: 'Amount to pay'
                },
                hint: {
                  html: 'You cannot change this on the next page'
                },
                id: 'amountToPay',
                name: 'amountToPay',
                classes: 'nhsuk-input--width-5',
                inputmode: 'numeric',
                prefix: '£'
        }) }}

        {% if formType === 'partial' %}
            <p class="nhsuk-body">You can choose to overpay this month, but this amount will not count toward your next monthly payment.</p>
        {% elseif formType === 'simplified' %}
            <p class="nhsuk-body">Payments can be as little or as much as you like.</p>
        {% endif %}
            
        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
            
        {{ checkboxes({
          idPrefix: 'surchargeUnderstood',
          name: 'surchargeUnderstood',
          fieldset: {
            legend: {
              text: 'Confirm you understand the condition to continue',
              classes: 'nhsuk-u-visually-hidden',
              isPageHeading: false
            }
          },
          items: [
            {
              value: 'I understand that if I fail to make regular monthly payments, an extra surcharge of up to £50 may be added to my charges.',
              text: 'I understand that if I fail to make regular monthly payments, an extra surcharge of up to £50 may be added to my charges.'
            }
          ]
        }) }}
  

        {{ button({
          text: 'Continue'
        }) }}

    </form>

{% endmacro %}