{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  More information needed
{% endblock %}

{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      
      <h1 class="nhsuk-heading-l">
        More information needed
      </h1>
    

      <p>We have been unable to confirm your identity using the information you've provided.</p>
      <p><a href="https://www.nhsbsa.nhs.uk/contact-nhs-help-health-costs">Contact us if you have received a letter about claiming help with your health costs</a>.</p>
      
      <h3>Feedback</h3>
      <p>Leaving feedback takes 5 minutes. Your comments will help us provide a better service.</p>
      <p><a href="https://online1.snapsurveys.com/interview/c65416e2-df71-4e71-a691-315b9abb4eae"target="_blank">Leave feedback (opens in a new window)</a></p>
           
    </div>
  </div>

  <style>
  
  </style>
{% endblock %}
