{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Pay by card
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}

<div class="nhsuk-back-link">
<a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
  <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
  </svg>
  Go back</a>
</div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <span class="nhsuk-caption-m">Pay a Penalty Charge Notice</span>
        <h1 class="nhsuk-heading-l">Make a partial payment</h1>


          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-heading-m">Penalty Charge Notice amount</h3>

              {{ summaryList({
                rows: [
                  {
                    key: { text: 'Total amount' },
                    value: { text: '£57.90' }
                  }]
              }) }}

              <h3 class="nhsuk-heading-m">Previous payments</h3>

              {{ summaryList({
                classes: 'nhsuk-u-margin-bottom-0',
                rows: [
                  {
                    key: { text: 'Payments made' },
                    value: { text: '£7.90' }
                  }]
              }) }}

              {{ details({
                        classes: 'nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-6',
                        text: 'View all previous payments',
                        HTML: table({
                            panel: false,
                            caption: 'Previous payments',
                            captionClasses: 'nhsuk-u-visually-hidden',
                            firstCellIsHeader: false,
                            head: [
                                { text: 'Date' },
                                { text: 'Amount' }
                            ],
                            rows: [
                                [ { text: -2 | alterTodaysDateByNumberOfDays }, { text: '£4.00' } ],
                                [ { text: -5 | alterTodaysDateByNumberOfDays }, { text: '£3.90' } ]
                            ] 
                            })
                        })
                    }}

              <p class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Amount to pay by {{ 12 | alterTodaysDateByNumberOfDays }}: £16.67</p>

            </div>
          </div>





          <h2 class="nhsuk-heading-m">How much are you paying today?</h2>

          <!-- VIEW MANUAL PAYMENT PLAN DATES -->
              {% set paymentPlanDates = table({
                        panel: false,
                        caption: 'Manual payment plan',
                        captionClasses: 'nhsuk-u-visually-hidden',
                        firstCellIsHeader: false,
                        head: [
                            { text: 'Payment' },
                            { text: 'Amount' },
                            { text: 'Date' }
                        ],
                        rows: 50 | generatePaymentPlanRows( 3, 12 ) 
                        }) + button({
                        classes: 'nhsuk-u-margin-bottom-0 nhsuk-button--secondary',
                        text: 'Download PDF',
                        href: '#'
                    }) %}

                    {{ details({
                        text: 'View manual payment plan dates',
                        HTML: paymentPlanDates
                    }) }}



         <form action="gov-pay-partial" method="post" class="form">

             {{ input({
                  label: {
                    text: 'Amount to pay'
                  },
                  hint: {
                    text: 'You cannot change this on the next page'
                  },
                  id: 'amountToPay',
                  name: 'amountToPay',
                  classes: 'nhsuk-input--width-5',
                  inputmode: 'numeric',
                  prefix: '£'
              }) }}


              
            <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
              
        
  

        {{ checkboxes({
          idPrefix: 'surchargeUnderstood',
          name: 'surchargeUnderstood',
          fieldset: {
            legend: {
              text: 'Confirm you understand the condition to continue',
              classes: 'nhsuk-u-visually-hidden',
              isPageHeading: false
            }
          },
          items: [
            {
              value: 'I understand that if I fail to make regular monthly payments, an extra surcharge of up to £50 may be added to my charges.',
              text: 'I understand that if I fail to make regular monthly payments, an extra surcharge of up to £50 may be added to my charges.'
            }
          ]
        }) }}
          


         {{ button({
            text: 'Continue'
          }) }}

      </form>

       <p><a href="#">Print this page</a></p>
      <p class="navigation"><a class="cancel" href="respond-to-your-letter">Cancel</a></p>


        
   

    </div>
  </div>
 

{% endblock %}
