{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Pay by card
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}

<div class="nhsuk-back-link">
<a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
  <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
  </svg>
  Go back</a>
</div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <span class="nhsuk-caption-m">Pay a Penalty Charge Notice</span>
        <h1 class="nhsuk-heading-l">Make a partial payment</h1>

          {% from './MACRO-payment-block.njk' import paymentBlock %}
          {% from './MACRO-payment-plan.njk' import paymentPlan %}
          {% from './MACRO-partial-payment-form.njk' import partialPaymentForm %}

          <!-- PAYMENT BLOCK -->
          {{ paymentBlock( 'simplifiedPartial', 'false', 'false' ) }}

          <h2 class="nhsuk-heading-m">How much are you paying today?</h2>

          <!-- SUGGESTED -->
          {% set paymentPlanDates %}

                        <style>

                            @media (min-width: 40.0625em) {
                                .nhsuk-summary-list__key {
                                    width: 50%;
                                }
                            }

                        </style>

                        <p class="nhsuk-body">If you make a £16.67 payment today, and then 2 further payments of £16.67 on the {{ 3 | getPaymentDate }} of each month, you will pay your Penalty Charge Notice in full within 3 months.</p>

                        {{ summaryList({
                            rows: [
                                {
                                    key: { text: 'First payment' },
                                    value: { text: '£16.67' }
                                },
                                {
                                    key: { text: 'Following 2 payments' },
                                    value: { text: '£16.67' }
                                }
                            ]
                        }) }}

                    {% endset %}

                    {{ details({
                        text: 'View suggested payment plan',
                        HTML: paymentPlanDates
                    }) }}

          <!-- PARTIAL PAYMENT FORM -->
          {{ partialPaymentForm( 'simplifiedNoDates' ) }}
        


      <p><a href="#">Print this page</a></p>
      <p class="navigation"><a class="cancel" href="respond-to-your-letter">Cancel</a></p>
   

    </div>
  </div>
 

{% endblock %}
