{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Pay by card
{% endblock %}

{% block beforeContent %}
    {{ backLink({
        text: 'Go back',
        href: 'javascript:history.back();'
    }) }}
{% endblock %}

{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <span class="nhsuk-caption-m">Pay a Penalty Charge Notice</span>
        <h1 class="nhsuk-heading-l">Make a partial payment</h1>

          {% from './MACRO-payment-block.njk' import paymentBlock %}
          {% from './MACRO-payment-plan.njk' import paymentPlan %}
          {% from './MACRO-partial-payment-form.njk' import partialPaymentForm %}

          <!-- PAYMENT BLOCK -->
          {{ paymentBlock( 'simplifiedPartial', 'false', 'false' ) }}

          <h2 class="nhsuk-heading-m">How much are you paying today?</h2>

          <!-- SUGGESTED -->
          {{ paymentPlan( 'simplified', 'false', 'false'  ) }}

          <!-- PARTIAL PAYMENT FORM -->
          {{ partialPaymentForm( 'simplified' ) }}
        


      <p><a href="#">Print this page</a></p>
      <p class="navigation"><a class="cancel" href="respond-to-your-letter">Cancel</a></p>
   

    </div>
  </div>
 

{% endblock %}
