{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
How would you like to pay your penalty charge?
{% endblock %}

{% block beforeContent %}
    {{ backLink({
        text: 'Go back',
        href: 'javascript:history.back();'
    }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="full-partial" method="get" class="form">

        <span class="nhsuk-caption-m">Pay a Penalty Charge Notice</span>
        <h1 class="nhsuk-heading-l">How would you like to pay your penalty charge?</h1>
        <div class="nhsuk-form-group">

          <div class="nhsuk-radios nhsuk-radios">
            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="debit-card" name="debit" type="radio" value="credit">
                <label class="nhsuk-label nhsuk-radios__label" for="yes">
                  Debit or credit card
                </label>
            </div>
            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="debit-card" name="debit" type="radio" value="direct">
                <label class="nhsuk-label nhsuk-radios__label" for="no">
                  Direct Debit
                </label>
            </div>
        </div>
          </fieldset>
        
        </div>
    <div class="nhsuk-form-group">
    <button class="nhsuk-button" type="submit">
     Continue
    </button>
    <p><a href="respond-to-your-letter">Cancel</a></p>
    </div>

        
   

    </div>
  </div>

{% endblock %}
