{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Penalty Charge Notice details on hold
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}

<style>
  .payment-summary {
    border-top: 2px solid #1d70b8;
    padding: 15px;
    background-color: white;
  }
</style>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <span class="nhsuk-caption-m">Your details</span>
    <h1>
      Penalty Charge Notice 01234567890
    </h1>

    <div class="nhsuk-warning-callout">
      <h3 class="nhsuk-warning-callout__label">
        <span role="text">
          <span class="nhsuk-u-visually-hidden">Important: </span>
          Do not delay
        </span>
      </h3>
      <p>We were unable to verify your details.</p>
      <p>You now have 10 days to either confirm you were entitled to free NHS prescriptions, or pay this Penalty Charge Notice (by 16 September 2021).
        <br><br>If you do not respond, an extra surcharge of up to £50 may be added to these charges.</p>
    </div>


    <!-- <h2 class="nhsuk-heading-m">Penalty Charge Notice amount</h2> -->


    <!-- <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <dl class="nhsuk-summary-list nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Prescription charges:
            </dt>
            <dd class="nhsuk-summary-list__value">
              £23.80
            </dd>
        
          </div>
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Penalty charge:
            </dt>
            <dd class="nhsuk-summary-list__value">
              £100.00
            </dd>
        
          </div>
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Total Charge:
            </dt>
            <dd class="nhsuk-summary-list__value">
              
            </dd>
        
          </div>

          <strong style="font-size: 36px;">£123.80</strong>
        
          
        </dl>
      </div> -->

      
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading">
          Penalty Charge Notice amount

        </h3>
        <dl class="nhsuk-summary-list nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Prescription charges
            </dt>
            <dd class="nhsuk-summary-list__value">
              £17.60
            </dd>

          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
               Penalty Charge 
            </dt>
            <dd class="nhsuk-summary-list__value">
              £48.25
            </dd>

        

          </div>
          
          
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Total amount to pay
            </dt>
            <dd class="nhsuk-summary-list__value">
              £57.90
            </dd>

          </div>


        </dl>

       
            
            <!-- <p>The penalty charge is calculated at 5 times the total prescription amount claimed, up to a maximum of £100.</p>
            <p>Your total amount is the penalty charge amount plus your original prescription costs.</p>
         -->
      
        <h2 class="nhsuk-card__heading">
          Previous payments
        </h3>

      
        <dl class="nhsuk-summary-list nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Payments made
            </dt>
            <dd class="nhsuk-summary-list__value">
              £7.90
            </dd>

          </div>

          
          


        </dl>
        <p style="font-weight: bold; font-size:36px;">
         Amount still to pay: £50

        </p>

      </div>
    </div>
    <p>If you have recently made a payment, it can take 24 hours for payment information to update.</p>


    

    <!-- <div class="payment-summary">
        <h2 class="nhsuk-heading-l">Penalty Charge Notice summary</h2>
        <dl class="nhsuk-summary-list nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Prescription charges:
            </dt>
            <dd class="nhsuk-summary-list__value">
              £23.80
            </dd>
        
          </div>
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Penalty charge:
            </dt>
            <dd class="nhsuk-summary-list__value">
              £100.00
            </dd>
        
          </div>
        
        
        </dl>
        
          
          <p style="font-weight: bold;">
            Total amount:
            
          </p>
          <span id="amount" style="font-size:36px;"> £123.80</span>
      </div> -->



    <!-- <div class="nhsuk-promo">


      <p>Prescription charges: £23.80</p>
      <p> Penalty charge: £100.00</p>
      <p>Total amount:<br> <strong style="font-size: 36px;">£123.80</strong></p>

    </div> -->


    <dl class="nhsuk-summary-list">


    </dl>
    <h3>Details on the prescription</h3>
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Name
        </dt>
        <dd class="nhsuk-summary-list__value">
          Michellle Doe
        </dd>

      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Address
        </dt>
        <dd class="nhsuk-summary-list__value">
          12 Old Oak Road<br>Throckley<br> NE2 4XL
        </dd>

      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Exemption reason ticked
        </dt>
        <dd class="nhsuk-summary-list__value">
          <p>Gets Income Support or income-related Employment and Support Allowance</p>

        </dd>

      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Date prescription was claimed
        </dt>
        <dd class="nhsuk-summary-list__value">
         Between 23 October 2022 and 31 October 2022
        </dd>

      </div>
    </dl>

    
    
    <p><a href="https://www.nhsbsa.nhs.uk/contact-nhs-help-health-costs">Contact us if you have any further queries about confirming your <br> entitlement (opens in a new window)</a>.</p>

    <h2>Pay a Penalty Charge Notice</h2>
    <p>You can pay by either debit or credit card.</p>
    <p>You are no longer able to pay by Direct Debit. We were unable to confirm your details when you applied previously.</p>
  </div>
  <dl>

  </dl>
</div>
<a href="payment-choice" class="nhsuk-button">
  Pay
</a>


</div>

  


<style>
  .nhsuk-promo {
    background: white;
    padding: 20px;
    box-shadow: 0 4px 0 0 #D8DDE0;
  }
</style>


    </div>
  </div>

{% endblock %}
