{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Penalty Charge Notice details HC3
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}
<style>
  .payment-summary {
    border-top: 2px solid #1d70b8;
    padding: 15px;
    background-color: white;
  }
</style>

<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
      aria-hidden="true" height="24" width="24">
      <path
        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
      </path>
    </svg>
    Go back</a>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <span class="nhsuk-caption-m">Pay a Penalty Charge Notice</span>
    <h1>
      Penalty Charge Notice 01234567890
    </h1>

    <div class="nhsuk-warning-callout">
      <h3 class="nhsuk-warning-callout__label">
        <span role="text">
          <span class="nhsuk-u-visually-hidden">Important: </span>
          Do not delay
        </span>
      </h3>
      <p>You now have 0 days to either confirm you were entitled to free NHS prescriptions, or pay this Penalty Charge
        Notice (by 16 September 2021). <br><br>If you do not respond, an extra surcharge of up to £50 may be added to
        these charges.</p>
    </div>


    <!-- <h2 class="nhsuk-heading-m">Penalty Charge Notice amount</h2> -->


    <!-- <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <dl class="nhsuk-summary-list nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Prescription charges:
            </dt>
            <dd class="nhsuk-summary-list__value">
              £23.80
            </dd>
        
          </div>
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Penalty charge:
            </dt>
            <dd class="nhsuk-summary-list__value">
              £100.00
            </dd>
        
          </div>
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Total Charge:
            </dt>
            <dd class="nhsuk-summary-list__value">
              
            </dd>
        
          </div>

          <strong style="font-size: 36px;">£123.80</strong>
        
          
        </dl>
      </div> -->

      
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading">
          Penalty Charge Notice amount

        </h3>
        <dl class="nhsuk-summary-list nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Dental treatment charges
            </dt>
            <dd class="nhsuk-summary-list__value">
              £14.70
            </dd>

          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
               HC3 Contribution
            </dt>
            <dd class="nhsuk-summary-list__value">
              £54.40
            </dd>

          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Amount you should've paid 
            </dt>
            <dd class="nhsuk-summary-list__value">
              £14.70
            </dd>

          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Amount you've already paid 
            </dt>
            <dd class="nhsuk-summary-list__value">
              £0.00
            </dd>

          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Outstanding Treatment Charge 
            </dt>
            <dd class="nhsuk-summary-list__value">
              £14.70
            </dd>

          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Penalty Charge 
            </dt>
            <dd class="nhsuk-summary-list__value">
              £73.50
            </dd>

          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Total amount to pay 
            </dt>
            <dd class="nhsuk-summary-list__value">
              <strong>£73.50</strong>
            </dd>


        </dl>

       
            
            <!-- <p>The penalty charge is calculated at 5 times the total prescription amount claimed, up to a maximum of £100.</p>
            <p>Your total amount is the penalty charge amount plus your original prescription costs.</p>
         -->
      
        <h2 class="nhsuk-card__heading">
          Previous payments
        </h3>

      
        <dl class="nhsuk-summary-list nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Payments made
            </dt>
            <dd class="nhsuk-summary-list__value">
              £0.00
            </dd>

          </div>

          
          


        </dl>
        <p style="font-weight: bold; font-size:36px;">
         Amount still to pay: £88.20

        </p>

      </div>
    </div>
    <p>If you have recently made a payment, it can take 24 hours for payment information to update.</p>


    

    <!-- <div class="payment-summary">
        <h2 class="nhsuk-heading-l">Penalty Charge Notice summary</h2>
        <dl class="nhsuk-summary-list nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Prescription charges:
            </dt>
            <dd class="nhsuk-summary-list__value">
              £23.80
            </dd>
        
          </div>
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Penalty charge:
            </dt>
            <dd class="nhsuk-summary-list__value">
              £100.00
            </dd>
        
          </div>
        
        
        </dl>
        
          
          <p style="font-weight: bold;">
            Total amount:
            
          </p>
          <span id="amount" style="font-size:36px;"> £123.80</span>
      </div> -->



    <!-- <div class="nhsuk-promo">


      <p>Prescription charges: £23.80</p>
      <p> Penalty charge: £100.00</p>
      <p>Total amount:<br> <strong style="font-size: 36px;">£123.80</strong></p>

    </div> -->


    <dl class="nhsuk-summary-list">


    </dl>
    <h3>Details on the dental treatment form</h3>
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Name
        </dt>
        <dd class="nhsuk-summary-list__value">
          Michellle Doe
        </dd>

      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Address
        </dt>
        <dd class="nhsuk-summary-list__value">
          12 Old Oak Road<br>Throckley<br> NE2 4XL
        </dd>

      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Exemption reason ticked
        </dt>
        <dd class="nhsuk-summary-list__value">
          <p>Has a valid HC3 certificate - limited help with health costs</p>

        </dd>

      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Date dental treatment was claimed
        </dt>
        <dd class="nhsuk-summary-list__value">
         On 04 October 2019
        </dd>

      </div>
    </dl>

    <p>If you were entitled to free dental treatment, answering some questions to confirm this can help us resolve this
      issue.</p>
    <p>If you were not entitled to free dental treatment and need to pay a Penalty Charge Notice, you can pay by
      either:</p>
    <ul>
      <LI>debit or credit card</LI>
      <li>Direct Debit</li>
    </ul>

    </dl>
  </div>

</div>
<a href="what-you-need-to-do-next-bsa" class="nhsuk-button">
  Continue
</a>
<style>
  .nhsuk-promo {
    background: white;
    padding: 20px;
    box-shadow: 0 4px 0 0 #D8DDE0;
  }
</style>


    </div>
  </div>

{% endblock %}
