{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Penalty Charge Notice details on hold
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}

<style>
  .payment-summary {
    border-top: 2px solid #1d70b8;
    padding: 15px;
    background-color: white;
  }
</style>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <span class="nhsuk-caption-m">Your details</span>
    <h1>
      Penalty Charge Notice 01234567890
    </h1>

    <div class="nhsuk-warning-callout">
      <h3 class="nhsuk-warning-callout__label">
        <span role="text">
          <span class="nhsuk-u-visually-hidden">Important: </span>
          Do not delay
        </span>
      </h3>
      <p>We were unable to verify your details. You will not be able to pay by Direct Debit.</p>
      <!--<p>You can now either confirm you were entitled to free NHS prescriptions, pay in full, or make a partial payment by {{ 12 | alterTodaysDateByNumberOfDays }}.</p>-->
      
      <p>You can now either pay in full, or make a partial payment by {{ 31 | alterTodaysDateByNumberOfDays }}.</p>
      <p>If you do not respond, an extra surcharge of up to £50 may be added to these charges.</p>
    </div>



   
    {% from './MACRO-payment-block.njk' import paymentBlock %}

    <!-- PAYMENT BLOCK -->
    {{ paymentBlock( 'simplified', 'false', 'false' ) }}


    <p>If you have recently made a payment, it can take 24 hours for payment information to update.</p>

   
    <h3>Details on the prescription</h3>
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Name
        </dt>
        <dd class="nhsuk-summary-list__value">
          Michelle Doe
        </dd>

      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Address
        </dt>
        <dd class="nhsuk-summary-list__value">
          12 Old Oak Road<br>Throckley<br> NE67 9AD
        </dd>

      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Exemption reason ticked
        </dt>
        <dd class="nhsuk-summary-list__value">
          <p>Gets Income Support or income-related Employment and Support Allowance</p>

        </dd>

      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Date prescription was claimed
        </dt>
        <dd class="nhsuk-summary-list__value">
         On 21 April 2021
        </dd>

      </div>
    </dl>


    <!--

    <p>If you were entitled to free NHS prescriptions, answering some questions to confirm this can help us resolve this issue.</p>
    <p>If you were not entitled to free NHS prescriptions and need to pay a Penalty Charge Notice, you can pay by debit or credit card.</p>
    


  </div>

</div>


<a href="what-you-need-to-do-next-bsa-SIMPLIFIED" class="nhsuk-button">
  Continue
</a>
-->

<h2>You’ll not be able to confirm your entitlement online</h2>
    <p>This is because you have either:</p>
    <ul>
      <li>an active Direct Debit</li>
      <li>previously set up a Direct Debit</li>
    </ul>


    
    
    <p><a href="https://www.nhsbsa.nhs.uk/contact-nhs-help-health-costs" target="_blank">Contact us if you have any further queries about confirming your <br> entitlement (opens in a new tab)</a>.</p>

    <h2>Pay a Penalty Charge Notice</h2>
    <p>If you were not entitled to free NHS prescriptions and need to pay a Penalty Charge Notice, you can pay by either debit or credit card.</p>
    <p>You are not able to pay by Direct Debit. This is because either:</p>
    <ul>
      <li>we were unable to confirm your details when you applied previously</li>
      <li>you have previously had a Direct Debit plan cancelled</li>
      <li>the amount you need to pay is below the minimum needed to set up a Direct Debit</li>
    </ul>
  </div>

  </div>


  <a href="payment-choice" class="nhsuk-button">Pay</a>



<style>
  .nhsuk-promo {
    background: white;
    padding: 20px;
    box-shadow: 0 4px 0 0 #D8DDE0;
  }
</style>

{% endblock %}
