{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
    Surcharge penalty charge notice
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}



<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <span class="nhsuk-caption-m">Your details</span>
        <h1>
            Penalty Charge Notice 01234567890
        </h1>

        <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">
                <span role="text">
                <span class="nhsuk-u-visually-hidden">Important: </span>
                Immediate action required
                </span>
            </h3>
            <p>You must pay your Penalty Charge Notice as soon as possible.</p>
            <p>If you do not respond, we will treat it as a deliberate decision to avoid paying the charges that you owe the NHS and we may start debt recovery proceedings.</p>
        </div>
        
        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading">
                    Penalty Charge Notice amount
                </h2>
                
                <dl class="nhsuk-summary-list nhsuk-summary-list">
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Prescription charges
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            £25.80
                        </dd>
                    </div>


                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Penalty charge
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            £100.00
                        </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Surcharge
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            £354.20
                        </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Total amount to pay
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            <b>£480.00</b>
                        </dd>
                    </div>
                </dl>
      
                <h2 class="nhsuk-card__heading">
                    Previous payments
                </h2>

                <dl class="nhsuk-summary-list nhsuk-summary-list">
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Payments made
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            £0.00
                        </dd>
                    </div>
                </dl>

                <p class="nhsuk-heading-l">
                    Amount still to pay: £121.55
                </p>
            </div>
        </div>
        
        <p>If you have recently made a payment, it can take 24 hours for payment information to update.</p>

        <h3>Details on the prescription</h3>

        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Name
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Michellle Doe
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Address
                </dt>
                <dd class="nhsuk-summary-list__value">
                    12 Old Oak Road<br>Throckley<br> NE2 4XL
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Exemption reason ticked
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Has a valid medical exemption certificate
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Date prescription was claimed
                </dt>
                <dd class="nhsuk-summary-list__value">
                    On 04 October 2019
                </dd>
            </div>
        </dl>

        <p>You cannot do anything more to confirm entitlement online at the moment.</p>
		<p>If we've asked you to send proof to help us review your case, you should send this as soon as possible.</p>
		<p><a href="https://www.nhsbsa.nhs.uk/contact-nhs-help-health-costs">Contact us if you have any further queries about confirming your entitlement (opens in a new window)</a>.</p>

		<h2>Pay a Penalty Charge Notice</h2>

        <p>If you were not entitled to free NHS prescriptions and need to pay a Penalty Charge Notice, you can pay by either:</p>
        
        <ul>
            <li>debit or credit card</li>
            <li>Direct Debit</li>
        </ul>

        <a href="payment-method" class="nhsuk-button">
            Pay
        </a>
    </div>
</div>
{% endblock %}
