{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
You are unable to set up a Direct Debit
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}

<div class="nhsuk-back-link">
<a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
  <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
  </svg>
  Go back</a>
</div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    

        <span class="nhsuk-caption-m">Pay a Penalty Charge Notice</span>
        <h1 class="nhsuk-heading-l">You are unable to set up a Direct Debit</h1>
       
        <p>To set up a Direct Debit online, you must confirm that you are:</p>
        <ul>
          <li>using your own bank account</li>
          <li>the only person required to authorise debits on this account</li>
        </ul>

        <p><a href="https://www.nhsbsa.nhs.uk/contact-nhs-help-health-costs">Contact us if you cannot confirm this.</a></p>
        
        <a href="pay-by-dd"><button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Continue
        </button></a>
        <p><a href="penalty-charge-notice-details-bsa">Cancel</a></p>
   

    </div>
  </div>

{% endblock %}
