{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
We could not verify extra details
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}




  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="check-name-input" method="get" class="form">

        <span class="nhsuk-caption-l">Confirm your entitlement</span>
        <h1 class="nhsuk-heading-xl">We could not verify the extra details you supplied</h1>
        <div class="nhsuk-form-group">

<p>The information you have given us does not prove you were entitled to free or further reduction in the cost of your dental treatment on 18 December 2019.</p>

<h2>What to do next</h2>
<p>You have the following options:</p>

<ul>
  <li>Pay the total amount of £88.20.</li>
</ul>

<button class="nhsuk-button" data-module="nhsuk-button" type="submit">
  Pay now
</button>


<ul>
  <li>Send us proof to show that you were entitled to free or reduced cost dental treatment on 18 Decemeber 2019.</li>
</ul>

<a href="url">How to send proof</a>
<div></div>
<p></p>


<p>If you were not entitled to free or reduced cost dental treatment but have an exceptional reason why you made this claim, you can ask us to review your enquiry letter. <a href="url">Find out if you can ask for a review.</a></p>

<div>
<a href="url">Print this page</a>
</div>
<p></p>

<h3>Feedback</h3>

<p>Leaving feedback only takes 5 minutes. Your comments are extremely helpful and will help us provide a better service.</p>

<a href="url">Leave feedback</a>





   

        
   



    </div>
  </div>

{% endblock %}
