{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
We found a Hc3 cert with same contribution
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <span class="nhsuk-caption-l">Pay a Penalty Charge Notice</span>
    <h1>
      We found a HC3 certificate with the same contribution amount
    </h1>
  
    <p>You still owe the original amount.</p>
    
    <p><h2>Original Penalty Charge Notice amount</h2></p>
    <dl class="nhsuk-summary-list">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Dental treatment charges
        </dt>
        <dd class="nhsuk-summary-list__value">
          £14.30
        </dd>
    
      </div>
    
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          HC3 Contribution
        </dt>
        <dd class="nhsuk-summary-list__value">
          £498.45
        </dd>
    
      </div>
    
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Amount you should have paid
        </dt>
        <dd class="nhsuk-summary-list__value">
          £14.30
        </dd>
    
      </div>
    
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Amount you've already paid
        </dt>
        <dd class="nhsuk-summary-list__value">
          <p>£0.00</p>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Outstanding Treatment Charge
        </dt>
        <dd class="nhsuk-summary-list__value">
          <p>£14.30</p>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Penalty Charge
        </dt>
        <dd class="nhsuk-summary-list__value">
          <p>£71.50</p>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Surcharge
        </dt>
        <dd class="nhsuk-summary-list__value">
          <p>£35.75</p>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Total amount
        </dt>
        <dd class="nhsuk-summary-list__value">
          <p>£121.55</p>
        </dd>
      </div>

    </dl>

    <p><h2>What to do next</h2></p>
    <div class="nhsuk-inset-text">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <p>Pay the total amount of £121.55.</p>
    </div>

    <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
      Pay now
    </button>

    <p>If you were pregnant or getting benefits at the time you claimed, you can continue your challenge. You may have been entitled to free dental treatment.</p>

    <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
      Continue your challenge
    </button>

    <p><h2>How to avoid a future Penalty Charge Notice</h2></p>
    <p>We match exemptions automatically using a combination of your:</p>
    <ul>
      <li>Name</li>
      <li>Address</li>
      <li>Date of birth</li>
      <li>NHS Number</li>
    </ul>

    <p>Make sure these are correct at your GP surgery, dental practice and any benefits organisations. </p>
    <p><a href="">Contact us to check the name and address on your NHS exemption.</a></p>
    <p>If any of your details are not up to date, you may receive another Penalty Charge Notice in the future.</p>
    <p>If you were not entitled to free or reduced cost dental treatment but have an exceptional reason why you made the claim, you can ask us to review your Penalty Charge Notice. <a href="">Find out if you can ask for a review.</a></p>
    <p><a href="">Print this page</a></p>

    <p><h2>Feedback</h2></p>
    <p>Leaving feedback only takes 5 minutes. Your comments are extremely helpful and will help us to provide a better service.</p>
    <p><a href="">Leave feedback</a></p>
   
  </div>
</div>
<style>

</style>

{% endblock %}
