{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
    We could not verify extra details
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <span class="nhsuk-caption-l">Pay an NHS Penalty Charge Notice</span>
        <h1 class="nhsuk-heading-xl">We have tried to find your updated details but still could not find them</h1>    

        <p>Change your details if any of them are incorrect by selecting change.</p>
        <p>Once you have done this, you'll be brought back to this page.</p>
        <p>Select try again after you have updated your details.</p>


        <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                11 Street <br> ELY <br> Newcastle <br>NEX 421
              </dt>
              <dd class="nhsuk-summary-list__value">
                </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="/v6-pcn/what-is-your-address-dd">
                  Change<span class="nhsuk-u-visually-hidden"> address</span>
                </a>
          
              </dd>
          
            </div>
          
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Bank Account <br> 43215432 <br> Sort Code <br> 40-23-22 <br> Stephens
              </dt>
              <dd class="nhsuk-summary-list__value">
                
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="/v6-pcn/enter-bank-details">
                  Change<span class="nhsuk-u-visually-hidden"> bank details</span>
                </a>
          
              </dd>
          
            </div>
          
            
          
              
          
            
          
            
          
          </dl>

    

        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Try again
        </button>

        <p>If your details are correct, <a href="https://www.nhsbsa.nhs.uk/contact-nhs-help-health-costs">contact us</a> about your Penalty Charge Notice. You may not be able to pay by Direct Debit. </p>

        <p>
            <a href="penalty-charge-notice-details-bsa">Cancel</a>
       </div>
</div>

{% endblock %}
