{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
What do you want to do next?
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: 'javascript:history.go(-1)',
    text: 'Go back'
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">


  <form action="version6-pcn-SIMPLIFIED" method="post" class="form">

    <span class="nhsuk-caption-m">Confirm your entitlement</span>


    {% if data.partialPaymentMade === 'true' %}

      {% set items = [
        {
          value: 'pay',
          text: 'I have already made a partial payment and want to make another'
        },
        {
          value: 'entitlement',
          text: 'Confirm I was entitled to free NHS prescriptions',
          hint: {
            text: 'We\'ll check if you were getting a qualifying benefit, or had a valid exemption or prepayment certificate.'
          }
        },
        {
          divider: 'or'
        },
        {
          value: 'check',
          text: 'I\'m not sure if I was entitled to free NHS prescriptions and want to check'
        }
      ] %}

    {% else %}

      {% set items = [
       {
          value: 'payInFull',
          text: 'Pay the full amount'
        },
        {
          value: 'pay',
          text: 'Make a partial payment'
        },
        {
          value: 'entitlement',
          text: 'Confirm I was entitled to free NHS prescriptions',
          hint: {
            text: 'We\'ll check if you were getting a qualifying benefit, or had a valid exemption or prepayment certificate.'
          }
        },
        {
          divider: 'or'
        },
        {
          value: 'check',
          text: 'I\'m not sure if I was entitled to free NHS prescriptions and want to check'
        }
      ] %}


    {% endif %}



    <!-- RADIOS -->

    {{ radios({
      name: 'penalty-confirm-pay',
      fieldset: {
        legend: {
          text: 'What do you want to do next?',
          classes: 'nhsuk-fieldset__legend--l',
          isPageHeading: true
        }
      },
      items: items
    }) }}

    {{ details({
      text: 'I was not entitled to free NHS prescriptions but have an exceptional reason why I made the claim',
      html: '<p>If you were not entitled to free NHS prescriptions but have an exceptional reason why you made the claim, you can ask us to review your case. <a href="who-can-ask-for-review">Find out if you can ask for a review.</a></p>'
    }) }}

    {{ button({
      text: 'Continue'
    }) }}


  </form>


  <p><a href="respond-to-your-letter">Cancel</a></p>

  </div>
</div>


{% endblock %}