{% extends 'layout.html' %}
​
{% set mainClasses = "nhsuk-main-wrapper--s" %}
​
{% block pageTitle %}
We cannot set up your Direct Debit
{% endblock %}
​
{% block content %}

​
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-m">Pay a Penalty Charge Notice</span>
      <h1 class="nhsuk-heading-l">
        We cannot set up your Direct Debit
      </h1>
    
      <p>We've been unable to verify your details.</p>
      
      <p>You'll need to pay in full if you want to pay online.</p>
​
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Pay
      </button>
​
      <h2 class="nhsuk-heading-m">Pay in installments</h2>
      <p>If you want to pay in installments, you'll need to contact us by:</p>
​
      <p><b>Telephone</b>: 0300 330 9291 (this will be charged at a local rate). Lines are available Monday to Friday from 8am to 6pm and Saturday from 9am to 3pm.</p>
      <p><b>Email</b>: <a href="mailto:someone@example.com">nhsbsa.pecs@nhsbsa.nhs.uk</a> </p>
      <p>You'll need your reference number. This is in the top left-hand corner of your Penalty Charge Notice letter. </p>
​
      <p><a href="respond-to-your-letter">Cancel</a></p>
​
​
​
     
    </div>
  </div>
  <style>
  
  </style>
{% endblock %}