{% extends 'layout.html' %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% block pageTitle %}
Payment not authorised
{% endblock %}
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-l">Pay a Penalty Charge Notice</span>
      <h1 class="nhsuk-heading-l">
        Your payment has not been authorised
      </h1>
    
      <p>We have not taken any money from your account.</p>
      <p>You can try to make a payment again.</p>
      <p>We recommend that you contact your bank for more details if this issue continues.</p>
      <a href="/v6-pcn/payment-method"><button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Try payment again
      </button>
      <p><a href="https://www.nhsbsa.nhs.uk/contact-nhs-help-health-costs">Contact us</a> if you want to pay over the phone or have any other questions.</p>
         
      
    </div>
  </div>
  <style>
  
  </style>
{% endblock %}