{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Confirm entitlement
{% endblock %}

{% block outerContent %}
{{ backLink({
href: 'javascript:history.back();',
text: "Go back"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="confirm-entitlement" method="post" class="form">

      <span class="nhsuk-caption-m">Confirm your entitlement</span>

      {{ radios({
      idPrefix: "benefit",
      name: "benefit",
      classes: "nhsuk-radios",
      fieldset: {
      legend: {
      text: "Did you have a valid [NHSBSA Benefit] between 1 June and 30 June 2025?",
      classes: "nhsuk-fieldset__legend--l",
      isPageHeading: true
      }
      },
      items: [
      {
      value: "yes",
      text: "Yes"
      },
      {
      value: "no",
      text: "No"
      }
      ]
      }) }}

      {{ button({
      text: 'Continue'
      }) }}

    </form>




    </form>
    <p><a href="respond-to-your-letter">Cancel</a></p>

  </div>
</div>

{% endblock %}