{% extends 'layout.html' %}

{% block pageTitle %}{{ serviceName }} - What is your reference number?{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: 'javascript:history.go(-1);',
    text: 'Go back'
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="enter-reference-number" method="post" novalidate>

        <span class="nhsuk-caption-m">Your details</span>

        {{ input({
             label: {
                 text: 'What is your reference number?',
                 classes: 'nhsuk-label--l',
                 isPageHeading: true
             },
            hint: {
                text: 'You can find this on your letter. Only include numbers in your reference number.'
            },
            id: 'referenceNumber',
            name: 'referenceNumber',
            value: data.referenceNumber,
            classes: 'nhsuk-input--width-10'
        }) }}

        {{ button({
            text: 'Continue'
        }) }}
        
       </form>

       <p><a href="start">Cancel</a></p>

    </div>
  </div>
{% endblock %}
