{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Enter your postcode as shown on your letter
{% endblock %}

{% block beforeContent %}
{{ backLink({
href: 'javascript:history.go(-1);',
text: 'Go back'
}) }}
{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="enter-postcode" method="post" class="form">

      <span class="nhsuk-caption-m">Your details</span>

      {% call fieldset({
      legend: {
      text: 'Enter your postcode as shown on your letter',
      classes: 'nhsuk-fieldset__legend--l',
      isPageHeading: true
      }
      }) %}

      {{ input({
      hint: {
      text: "For example, WA4 1AB"
      },
      classes: 'nhsuk-u-width-two-thirds',
      id: 'postCode',
      name: 'postCode',
      value: data.postCode
      }) }}

      {% endcall %}

      {{ button({
      text: 'Continue'
      }) }}

      <p><a href="respond-to-your-letter">Cancel</a></p>
  </div>
</div>

{% endblock %}