{% extends 'layout.html' %}

{% block pageTitle %}Enter your reference number again - {{ serviceName }}{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="enter-reference-number-again" method="post" novalidate>

      <span class="nhsuk-caption-m">Your details</span>

      {{ input({
      label: {
      text: 'Enter your reference number again',
      classes: 'nhsuk-label--l',
      isPageHeading: true
      },
      hint: {
      text: 'We ask this to make sure we find the correct record.'
      },
      id: 'referenceNumberConfirmation',
      classes: 'nhsuk-input--width-10'
      }) }}

      {{ button({
      text: 'Continue'
      }) }}

    </form>

    <p><a href="start">Cancel</a></p>

  </div>
</div>
{% endblock %}