{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Do you know your [Benefit] number?
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}

{{ backLink({
href: 'javascript:history.back();',
text: "Go back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">


    <form action="exemption-certificate-number" method="post" class="form">
      <span class="nhsuk-caption-m">Confirm your entitlement</span>

      {% set certNumber %}
      {{ input({
      id: "certNumber",
      name: "certNumber",
      classes: "nhsuk-u-width-two-thirds",
      label: {
      text: "Certificate number"
      }
      }) }}
      {% endset -%}

      {{ radios({
      idPrefix: "exemptionNumber",
      name: "exemptionNumber",
      classes: "nhsuk-radios",
      fieldset: {
      legend: {
      text: "Do you know your [Benefit] number?",
      classes: "nhsuk-fieldset__legend--l",
      isPageHeading: true
      }
      },
      hint: {
      html: "You do not have to tell us your certificate number, but telling us can help us find your certificate. You
      can
      find the number on the certificate."
      },
      items: [
      {
      value: "yes",
      text: "Yes",
      conditional: {
      html: certNumber
      }
      },
      {
      value: "no",
      text: "No"
      }
      ]
      }) }}

      {{ button({
      text: 'Continue'
      }) }}


      <p class="navigation"><a class="cancel" href="start">Cancel</a></p>
    </form>


  </div>
</div>

{% endblock %}