{% extends 'layout.html' %}

{% block pageTitle %}Pay by card - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: 'javascript:history.back();',
    text: 'Go back'
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="pay-by-card" method="post" novalidate>

      <span class="nhsuk-caption-m">Pay a Penalty Charge Notice</span>
      <h1 class="nhsuk-heading-l">Pay by card</h1>

      <!-- PAYMENT BLOCK-->
      {% from '../'+version+'/macros/payment-block.njk' import paymentBlock %}
      {{ paymentBlock( data, ['showCard','showLastRowOnly'] ) }}

      <p class="nhsuk-body">You can either pay the full amount in one payment or split it across several payments.</p>
      <p class="nhsuk-body">If you have recently made a payment, it can take up to 24 hours for payment information to update.</p>

      {{ radios({
        idPrefix: 'amount',
        name: 'amount',
        value: data.amount,
        fieldset: {
          legend: {
            text: 'Do you want to pay the full amount still to pay?',
            classes: 'nhsuk-fieldset__legend--l',
            isPageHeading: true
          }
        },
          items: [
            {
              value: 'fullAmount',
              text: 'Yes, I want to pay the full amount'
            },
            {
              value: 'partialPayment',
              text: 'No, I want to make a partial payment'
            }
          ]
        }) }}

        {{ button({
          text: 'Continue'
        }) }}

        <p class="nhsuk-body"><a href="penalty-charge-notice-details-bsa">Cancel</a></p>

    </form>


  </div>
</div>

{% endblock %}