{% extends 'layout.html' %}

{% block pageTitle %}
Payment confirmation
{% endblock %}

{% block content %}
<style>
  .nhsuk-panel {
    background: #005EB8;
  }

  .nhsuk-panel__title,
  .nhsuk-panel__body {
    text-align: center;
  }
</style>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="payment-made" method="post" class="form">

      <span class="nhsuk-caption-m">Pay a Penalty Charge Notice</span>
      {% if data.amount == "partialPayment" %}
      <h1 class="nhsuk-heading-xl">Partial payment made</h1>
      {% else %}
      <h1 class="nhsuk-heading-xl">Full payment made</h1>
      {% endif %}

      {% if data.amount == "partialPayment" %}
  {% set paymentType = "You have paid £25 towards your Penalty
        Charge Notice" %}
{% else %}
  {% set paymentType = "You have paid your Penalty Charge Notice in full and your case has now been closed." %}
{% endif %}

      {{ panel({
      html: "<h2>" + paymentType + "</h2>"
      }) }}

      <h2>Payment confirmation</h2>
      <p>We've received your payment towards your Penalty Charge Notice.</p>

       {% if data.amount == "partialPayment" %}
      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Penalty Charge Notice reference number
            </dt>
            <dd class="nhsuk-summary-list__value">
              123456789
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              So far you've paid
            </dt>
            <dd class="nhsuk-summary-list__value">
              £32.90
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              You still need to pay
            </dt>
            <dd class="nhsuk-summary-list__value">
              <p>£25</p>
            </dd>
          </div>
        </dl>
      </div>
      {% else %}
       <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Penalty Charge Notice reference number
            </dt>
            <dd class="nhsuk-summary-list__value">
              123456789
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              You've paid
            </dt>
            <dd class="nhsuk-summary-list__value">
              £57.90
            </dd>
          </div>
        </dl>
      </div>
      {% endif %}

{% if data.amount == "partialPayment" %}
      {{ warningCallout({
      heading: "Your next manual payment",
      HTML: "<p>You can return to this service to pay your remaining balance at any time.</p>
      <p><strong>You must make your next payment by 24 May 2025</strong></p>"
      }) }}

      {{ button({
      text: 'Make another payment'
      }) }}
{% endif %}
      <p><a href="javascript:window.print();">Print this page</a></p>


      <h3>How to avoid a Penalty Charge Notice in the future</h3>
      <p>We match exemptions using a combination of your:</p>
      <ul>
        <li>name</li>
        <li>address</li>
        <li>date of birth</li>
        <li>NHS number</li>
      </ul>
      <p>Make sure your details are correct at your GP surgery, dental practice, and any benefits organisations.</p>
      <p>If any of your details are not up to date, you may receive another Penalty Charge Notice in the future.</p>

      {{ actionLink({
      text: "Check if you are currently entitled to help with your health costs.",
      href: "https://www.nhsbsa.nhs.uk/check-if-youre-eligible-help"
      }) }}


      <h3>Feedback</h3>
      <p>Leaving feedback takes 5 minutes. Your comments will help us provide a better service.</p>
      <p><a href="https://online1.snapsurveys.com/interview/c65416e2-df71-4e71-a691-315b9abb4eae" target="_blank">Leave
          feedback (opens in a new window)</a></p>
    </form>

  </div>
</div>
{% endblock %}