{% extends 'layout.html' %}

{% block pageTitle %}
Penalty Charge Notice
{% endblock %}




{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="pcn-details" method="post" class="form">
      <span class="nhsuk-caption-m">Your details</span>
      <h1>
        Penalty Charge Notice 01234567890
      </h1>

      {{ warningCallout({
      heading: "Do not delay",
      HTML: "<p>You now have 10 days to either confirm you were entitled to free NHS prescriptions, or pay this Penalty
        Charge
        Notice (by 06 September 2021). <br><br>If you do not respond, an extra surcharge of up to £50 may be added to
        these charges.</p>"
      }) }}

      {{ card({
      heading: "Penalty charge notice amount",
      headingLevel: "3",
      descriptionHtml: '

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Precription charges
          </dt>
          <dd class="nhsuk-summary-list__value">
            £9.65
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Penalty charge
          </dt>
          <dd class="nhsuk-summary-list__value">
            £48.25
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Total amount to pay
          </dt>
          <dd class="nhsuk-summary-list__value">
            £57.90
          </dd>
        </div>
      </dl>
      <h4>Previous payments</h4>
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Payments made
          </dt>
          <dd class="nhsuk-summary-list__value">
            £7.90
          </dd>
        </div>
      </dl>

      <h2>Amount still to pay: £50</h2>'
      }) }}

      <p>If you have recently made a payment, it can take 24 hours for payment information to update.</p>

      <dl class="nhsuk-summary-list">

      </dl>
      <h3>Details on the prescription</h3>
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Name
          </dt>
          <dd class="nhsuk-summary-list__value">
            Jack Burton
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Address
          </dt>
          <dd class="nhsuk-summary-list__value">
            12 Old Oak Road<br>Throckley<br> NE67 9AD
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Exemption reason ticked
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Gets Income Support or income-related Employment and Support Allowance</p>

          </dd>

        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date prescription was claimed
          </dt>
          <dd class="nhsuk-summary-list__value">
            On 21 April 2021
          </dd>

        </div>
      </dl>

      <p>If you were entitled to free NHS prescriptions, answering some questions to confirm this can help us resolve
        this
        issue.</p>
      <p>If you were not entitled to free NHS prescriptions and need to pay a Penalty Charge Notice, you can pay by
        either:</p>
      <ul>
        <LI>debit or credit card</LI>
        <li>Direct Debit</li>
      </ul>

      </dl>




      {{ button({
      text: "Start again"
      }) }}
    </form>
  </div>
</div>
{% endblock %}