{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Did you have an NHS exemption
{% endblock %}

{% block outerContent %}
{{ backLink({
href: 'javascript:history.back();',
text: "Go back"
}) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <span class="nhsuk-caption-m">Confirm your entitlement</span>
    <form action="were-you-claiming-any-benefits" method="post" class="form">

      {{ radios({
      idPrefix: "claimBenefits",
      name: "claimBenefits",
      fieldset: {
      legend: {
      text: "Were you claiming any of these benefits (or named on them) between 1 June
      and 30 June 2025?",
      classes: "nhsuk-fieldset__legend--l",
      isPageHeading: false
      }
      },
      items: [
      {
      value: "income-employment-support",
      text: "Income Support or income-related Employment and Support Allowance"
      },
      {
      value: "jsa",
      text: "Income-based Jobseeker's Allowance"
      },
      {
      value: "universal-credit",
      text: "Universal Credit"
      },
      {
      value: "pension-credit-guarantee",
      text: "Your partner's Pension Credit Guarantee Credit award"
      },

      {
      divider: "or"
      },
      {
      value: "none-of-these",
      text: "No, none of these"
      }
      ]
      }) }}

      {{ button({
      text: 'Continue'
      }) }}

      <p><a href="respond-to-your-letter">Cancel</a></p>


    </form>


  </div>
</div>

{% endblock %}