{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
What do you want to do next?
{% endblock %}

{% block outerContent %}
{{ backLink({
href: 'javascript:history.back();',
text: "Go back"
}) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="what-you-want-to-do-next" method="post" class="form">

      <span class="nhsuk-caption-m">Confirm your entitlement</span>


      {% if data.letter === 'pcn' %}

      {% set radioItems = [
      {
      value: 'confirm-entitled',
      text: 'Confirm I was entitled to free NHS prescripitons',
      hint: {
      text: "We'll check if you were getting a qualifying benefit, or had a valid exemption or prepayment certificate."
      }
      },
      {
      value: 'pay-pcn',
      text: 'I was not entitled to free NHS prescriptions and need to pay a Penalty Charge Notice'
      },
      {
      divider: 'or'
      },
      {
      value: 'not-sure',
      text: "I'm not sure if I was entitled to free NHS prescriptions and want to check"
      }
      ]
      %}



      {% else %}
      {% if data.type === 'decs' && if data.letter === 'pcn'%}

      {% set radioItems = [
      {
      value: 'confirm-entitled',
      text: 'Confirm I was entitled to free NHS prescripitons',
      hint: {
      text: "We'll check if you were getting a qualifying benefit, or had a valid exemption or prepayment certificate."
      }
      },
      {
      value: 'pay-pcn',
      text: 'I was not entitled to free NHS prescriptions and need to pay a Penalty Charge Notice'
      },
      {
      divider: 'or'
      },
      {
      value: 'not-sure',
      text: "I'm not sure if I was entitled to free NHS prescriptions and want to check"
      }
      ]
      %}

      {% else %}

      {% set radioItems = [
      {
      value: 'confirm-entitled',
      text: 'Confirm I was entitled to free NHS prescripitons',
      hint: {
      text: "We'll check if you were getting a qualifying benefit, or had a valid exemption or prepayment certificate."
      }
      },
      {
      value: 'what-happens-next',
      text: 'I was not entitled to free NHS prescriptions and want to know what happens next'
      },
      {
      divider: 'or'
      },
      {
      value: 'not-sure',
      text: "I'm not sure if I was entitled to free NHS prescriptions and want to check"
      }
      ]
      %}

      {% endif %}


      {{ radios({
      idPrefix: "confirm",
      name: "confirm",
      fieldset: {
      legend: {
      text: "What do you want to do next?",
      classes: "nhsuk-fieldset__legend--l",
      isPageHeading: true
      }
      },
      items: radioItems

      }) }}

      {{ button({
      text: 'Continue'
      }) }}

    </form>

    <p><a href="respond-to-your-letter">Cancel</a></p>

  </div>
</div>
<style>
</style>

{% endblock %}