{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
You are not entitled to free NHS prescriptions
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h2>
            Not entitled to free NHS prescriptions
        </h2>
        <p>If you were not entitled to free NHS prescriptions you will be sent a Penalty Charge Notice (PCN).</p>
        <p>We send the enquiry letter before the PCN to give you time to confirm you were entitled to free NHS
            prescriptions
            which can stop a PCN being issued.</p>
        <p>If you do not confirm you were entitled to free NHS prescriptions within [number] days (by [date]) we will
            send a PCN.</p>
        <p>You will not be able to make a payment until you receive the PCN.</p>
        <p>Once you have received it, you’ll be able to use this service to pay your penalty charge.</p>

        {{ details({
        text: "I was not entitled to free NHS prescriptions but have an exceptional reason why I made the claim",
        html: "



        <p>If you were not entitled to free NHS prescriptions but have an exceptional reason why you made the claim, you
            can ask us to review your case
        </p><a>Find out if you can ask for a review</a>
        "
        }) }}



        {% endblock %}