{% extends 'layout.html' %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% block pageTitle %}What is your email address?{% endblock %}
=
{% block beforeContent %}
{{ backLink({
text: 'Go back',
href: 'check-contact-details'
}) }}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {% set emailErrorMessage = null %}

        {% if data.emailError %}
        {% set emailErrorMessage = {
        text: data.emailError
        } %}
        {{ errorSummary({
        titleText: "There is a problem",
        errorList: [
        {
        text: data.emailError,
        href: "#update-email"
        }
        ]
        }) }}
        {% endif %}

        <form action="/{{ data.version }}/{{ data.letter }}/update-email" method="post" novalidate>

            <span class="nhsuk-caption-m">Your details</span>

            {{ input({
            id: 'emailAddress',
            name: 'emailAddress',
            value: data.pendingEmail,
            classes: 'nhsuk-u-width-two-thirds',
            attributes: {
            autocomplete: 'off',
            inputmode: 'email'
            },
            label: {
            text: 'What is your email address?',
            classes: 'nhsuk-label--l',
            isPageHeading: true
            },
            errorMessage: emailErrorMessage
            }) }}

            {{ button({
            text: 'Continue'
            }) }}
            <p><a href="enquiry-letter-details">Cancel</a></p>
        </form>


    </div>
</div>

{% endblock %}