{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Were you claiming any of these benefits?
{% endblock %}

{% block beforeContent %}
{{ backLink({
href: 'javascript:history.back();',
text: 'Go back'
}) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <span class="nhsuk-caption-m">Confirm your entitlement</span>

    {% set errorMessage = null %}

    {% if data.claimBenefitsError %}
    {% set errorMessage = { text: data.claimBenefitsError } %}
    {{ errorSummary({
    titleText: "There is a problem",
    errorList: [
    {
    text: data.claimBenefitsError,
    href: "#were-you-claiming-any-benefits"
    }
    ]
    }) }}
    {% endif %}

    <form action="/{{ data.version }}/{{ data.letter }}/were-you-claiming-any-benefits" method="post">

      {{ radios({
      idPrefix: "claimBenefits",
      name: "claimBenefits",
      value: data.claimBenefits,
      errorMessage: errorMessage,
      fieldset: {
      legend: {
      text: 'Were you claiming any of these benefits?',
      classes: 'nhsuk-fieldset__legend--l',
      isPageHeading: true
      }
      },
      items: [
      { value: "income-employment-support", text: "Income Support or ESA" },
      { value: "jsa", text: "Jobseeker's Allowance" },
      { value: "universal-credit", text: "Universal Credit" },
      { value: "pension-credit-guarantee", text: "Pension Credit Guarantee Credit" },
      { divider: "or" },
      { value: "none-of-these", text: "No, none of these" }
      ]
      }) }}

      {{ button({ text: "Continue" }) }}

    </form>

    <p>
      <a href="/{{ data.version }}/{{ data.letter }}/respond-to-your-letter">
        Cancel
      </a>
    </p>

  </div>
</div>

{% endblock %}