{% extends 'layout.html' %}

{% block pageTitle %}
An exemption has been found
{% endblock %}

{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <span class="nhsuk-caption-m">Pay an NHS Penalty Charge Notice</span>
        <h1>Direct Debit completed</h1>
      <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading" style="text-align: center; color: white;">
           Thank you
          </h2>
          
          <h2 class="nhsuk-card__content" style="text-align: center; color: white;">You have set up a Direct Debit to pay your penalty charge.
          
          
        </div>
      </div>
     </div>

      </div>

      <p>Confirmation of the instruction will be sent to you in 3 working days, or be received to you by no later than 10 working days before the first collection.</p>


      
     
      
      <h2>First payment</h2>
      <p>Your first payment of £11.37 will be taken on or just after 01 February 2023.</p>
      <h2>Next payment</h2>
      <p>Your next payment of £11.37 will be taken on or just after 01 March 2023.</p>
      <p>As long as you keep up payments there will be no further changes added to your account.</p>
      
       
        
      <h2>How to avoid a future Penalty Charge Notice</h2>
      <p>We match exemptions using a combination of your:</p>
      <ul>
        <li>name</li>
        <li>address</li>
        <li>date of birth</li>
        <li>NHS number</li>
      </ul> 
        <p>Make sure these are correct at your GP surgery, dental practice, and any benefits organisations.</p>
     <p>If any of your details are not up to date, you may receive another Penalty Charge Notice in the future.</p>
        
        <p> <a href="https://services.nhsbsa.nhs.uk/check-for-help-paying-nhs-costs/start">Check if you are currently entitled to help with your health costs.</a></p>
        <p><a href="">Print this page</a></p>
<h3>Feedback</h3>
<p>Leaving feedback takes 5 minutes. Your comments will help us to provide a better service.</p>
<p><a href="">Leave feedback</a></p>
   

    </div>
  </div>
{% endblock %}
