{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
You didn't have a valid medical exemption certificate
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}



  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
        </div>

      <form action="5" method="get" class="form">

        <span class="nhsuk-caption-m">Confirm your entitlement</span>
        
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              You didn't have a valid maternity exemption certificate at the time, but you can still apply
            </h1>
          </legend>

          <p>Although you didn't have a valid maternity exemption certificate when you claimed a free prescription, you still have the chance to apply.</p>

          <h3>Pay the prescription charge now</h3>
          <p>You will need to pay the original £35.20 prescription charge.</p>
          <p>When asked to enter the amount you are paying, you just need to type <strong>£17.60</strong> (not the full Penalty Charge Notice amount)</p>
         
      
            <a class="nhsuk-button" href="pay-by-card">Pay now</a>
          
          

          <h3>Apply for a maternity exemption certificate</h3>

          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>You only have until the 07 May 2023 to get a maternity exemption certificate.</p>
          </div>
          <p>Ask your doctor, midwife or health visitor how to apply.</p>
          <p>You can only apply for a maternity exemption certificate if you:</p>

          <ul>
            <li>were pregnant at the time you claimed the free prescription (the date on your Penalty Charge Notice)</li>
            <LI>you had given birth in the previous 12 months</LI>
          </ul>

          <h3>What happens next?</h3>
          <p>After your maternity exemption certificate application has been submitted, an automatic check is carried out. You do not need to telephone us.</p>
          <p>If your application has been successful and you have paid the £17.60 your Penalty Charge Notice will be closed. You don't need to do anything more.</p>
          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>If you are not eligible for a maternity exemption certificate you will need to pay the full amount on the Penalty Charge Notice.</p>
          </div>
         

        
         
          <h3>Feedback</h3>
          <p>Leaving feedback takes 5 minutes. Your comments will help us to provide a better service.</p>

          <p><a href="url">Leave feedback</a></p>

              
              
                  
              
                    
              
              
        
        
        
        
        </div>



        </div>
         
          

        
   

    </div>
  </div>

{% endblock %}
