{% extends 'layout.html' %}

{% block pageTitle %}
Payment confirmation
{% endblock %}

{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <span class="nhsuk-caption-m">Pay a Penalty Charge Notice</span>
        <h1 class="nhsuk-heading-xl">Partial payment made</h1>
      <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
        <div class="nhsuk-card__content">
          
          
          <h2 class="nhsuk-card__content" style="text-align: center; color: white;">You have paid £9.65 towards your Penalty Charge Notice</h2>
          
 
          
        </div>
      

      </div>
       <h2>Payment confirmation</h2>
      <p>We've received your payment towards your Penalty Charge Notice.</p>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>



        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Penalty Charge Notice reference number
            </dt>
            <dd class="nhsuk-summary-list__value">
              123456789
            </dd>
        
          
        
          </div>
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              So far you've paid
            </dt>
            <dd class="nhsuk-summary-list__value">
              £9.65
            </dd>
        
            
        
          </div>
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              You still need to pay
            </dt>
            <dd class="nhsuk-summary-list__value">
              <p >£48.25</p>
            </dd>
        
            
        
          </div>
        
          
        </dl>



      
      </div>

      <h3>Apply for a medical exemption certificate</h3>

          <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">
              <span role="text">
                <span class="nhsuk-u-visually-hidden">Important: </span>
                Important
              </span>
            </h3>
            <p>You only have until <strong>07 June 2023</strong> to get a medical exemption certificate.</p>
          </div>
          <p>To apply for a medical exemption certificate, speak to your doctor. They'll give you an application form.</p>
          <p>You can only apply for a medical exemption certificate if your condition is on the accepted list. If you're unsure about the name of your condition or treatment, check with your doctor.</p>

          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                List of accepted medical conditions
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <ul>
                <li><strong>Cancer and are undergoing treatment</strong><br>Including treatment for the effects of cancer or the effects of cancer treatment.</li>
                <li><strong>Diabetes (type 1 or type 2)</strong><br>If you need medication to keep blood sugar levels stable.</li>
                <li><strong>Diabetes insipidus</strong><br>And other forms of hypopituitarism.</li>
                <li><strong>A continuing physical disability</strong><br>Which means you can't go out without the help of another person.</li>
                <li><strong>Epilepsy</strong><br>If you need continuous anticonvulsive therapy</li>
                <li><strong>A permanent fistula</strong><br>Which needs continuous surgical dressing or an appliance - for example, caecostomy, colostomy, laryeigostom or ileostomy.</li>
                <li><strong>Hypoadrenalism</strong><br>Where specific substitution therapy is essential - for example, Addison's Disease.</li>
                <li><strong>Hypoparathyroidism</strong><br>Which means your parathyroid glands produce too little parathyroid hormone.</li>
               
             
                <li><strong>Myasthenia gravis</strong><br>Where ana autoimmune condition affects your nerves and muscles.</li>
                <li><strong>Myxoedema</strong><br>For example, hypothyroidism which needs thyroid hormone replacement.</li>
              </ul>
          
            </div>
          </details>

          <h3>What happens next?</h3>
          <p>After your medical exemption certificate application has been submitted, an automatic check is carried out. You do not need to telephone us.</p>
          <p>If your application is successful and you have paid the £9.65 prescription charge your Penalty Charge Notice will be closed. You'll not need to do anything more.</p>
          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>If you are not eligible for a medical exemption certificate you'll need to pay the full amount of the Penalty Charge Notice.</p>
          </div>
      <h3>Further payments</h3>
      <p>If your application for a medical exemption certificate is successful, you'll not need to pay the remaining amount.</p>

      <p>You only have until <strong>07 June 2023</strong> to get a medical exemption certificate. To apply, speak to your doctor, they give you an application form.</p>
      <p>If you are not eligible for a medical exemption certificate you'll need to pay the remaining amount of <strong>£48.25</strong></p>
      <a href="payment-choice"><button class="nhsuk-button" data-module="nhsuk-button" type="submit" >
        Make another payment
      </button></a>

      <a href="javascript:window.print();"><p>
        Print this page
      </p></a>




      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            How to avoid a Penalty Charge Notice in the future
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>We match exemptions using a combination of your:</p>
      <ul>
        <li>name</li>
        <li>address</li>
        <li>date of birth</li>
        <li>NHS number</li>
      </ul>
        <p>Make sure your details are correct at your GP surgery, dental practice, and any benefits organisations.</p>
     <p>If any of your details are not up to date, you may receive another Penalty Charge Notice in the future.</p>
        
        </div>
      </details>
      

     <div class="nhsuk-action-link">
      <a class="nhsuk-action-link__link" href="https://www.nhs.uk/service-search/minor-injuries-unit/locationsearch/551">
        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
        </svg>
        <span class="nhsuk-action-link__text">Check if you are currently entitled to help with your health costs.</span>
      </a>
    </div>
      
        
<h3>Feedback</h3>
<p>Leaving feedback takes 5 minutes. Your comments will help us to provide a better service.</p>
<p><a href="">Leave feedback</a></p>
   

    </div>
  </div>
{% endblock %}
