{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
You didn't have a valid medical exemption certificate
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}



  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      

        <span class="nhsuk-caption-m">Confirm your entitlement</span>
        
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              You did not have a valid medical exemption certificate at the time, but you can still apply
            </h1>
          </legend>

          <p>Although you did not have a valid medical exemption certificate when you claimed a free NHS prescription, you still have the chance to apply.</p>
          <P>If your application is successful, you will only have to pay the original prescription charge. You will not have to pay your penalty charge. </P>
        

          <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">
              <span role="text">
                <span class="nhsuk-u-visually-hidden">Important: </span>
                Important
              </span>
            </h3>
            <p>You only have until <strong>07 June 2023</strong> to get a medical exemption certificate.</p>
          </div>


  <h3>What do you want to do next?</h3>
          <form action="medex-radios" method="get" class="form">

            
            <div class="nhsuk-form-group">
    
              <div class="nhsuk-radios nhsuk-radios">
                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="debit-card" name="debit" type="radio" value="credit">
                    <label class="nhsuk-label nhsuk-radios__label" for="yes">
                      Pay the original £9.65 prescription charge, and apply for a medical exemption certificate.
                    </label>
                    
                </div>
                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="debit-card" name="debit" type="radio" value="direct">
                    <label class="nhsuk-label nhsuk-radios__label" for="no">
                      Pay the total amount of £57.90 if you cannot apply for a medical exemption
                    </label>
                   
                    
                </div>
            </div>
              </div>
              <button class="nhsuk-button" type="submit">
              Continue
              </button>
              
              </form>

         
         

     

         
           
         

          <p>If you were not entitled to free NHS prescriptions but have an exceptional reason why you made this claim, you can ask us to review your Penalty Charge Notice. <a href="who-can-ask-for-review">Find out if you can ask for a review</a></p>
          <p><a href="">Print this page</a></p>
          <h3>Feedback</h3>
          <p>Leaving feedback takes 5 minutes. Your comments will help us to provide a better service.</p>

          <p><a href="url">Leave feedback</a></p>

              
              
                  
              
                    
              
              
        
        
        
        
        </div>



        </div>
         
          

        
   

    </div>
  </div>

{% endblock %}
