{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
You cannot use this service yet
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-m">Your details</span>
      <h1>
       You cannot use this service yet
      </h1>
    
      <p>As you have not received a Penalty Charge Notice, you cannot use this service yet.</p>
     
      <p>Try again when you receive your Penalty Charge Notice.</p>
      <p><a href="https://www.nhsbsa.nhs.uk/contact-nhs-help-health-costs">Contact us if you have any other queries</a>.</p>
      
      
  
         


      
    </div>
  </div>
  <style>
  
  </style>
{% endblock %}
