{% extends 'layout.html' %}

{% block pageTitle %}
    We cannot set up your Direct Debit
{% endblock %}

{% block content %}
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <span class="nhsuk-caption-m">Pay a Penalty Charge Notice</span>
            <h1 class="nhsuk-heading-l">
                We cannot set up your Direct Debit
            </h1>

            <p>We've been unable to verify your details. You'll not be able to pay by Direct Debit.</p>

            <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

            <h2 class="nhsuk-heading-m">How to pay your Penalty Charge Notice (PCN) online</h2>

            <p>You can use this service to make a payment using a debit or credit card. You can either:</p>

            <ul class="nhsuk-u-margin-bottom-8">
                <li>pay the full amount in one payment</li>
                <li>split the amount over several payments</li>
            </ul>

            <!-- TABS -->

            <div class="nhsuk-tabs" data-module="nhsuk-tabs">

                <ul class="nhsuk-tabs__list">

                    <li class="nhsuk-tabs__list-item">
                        <a class="nhsuk-tabs__tab" href="#pay-in-full">Pay in full</a>
                    </li>

                    <li class="nhsuk-tabs__list-item">
                        <a class="nhsuk-tabs__tab" href="#split-payment-over-several-payments">Split payment over several payments</a>
                    </li>

                </ul>

                <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="pay-in-full">

                    <!-- CONTENT FOR PAY IN FULL -->

                    <h3 class="nhsuk-heading-m">Penalty Charge Notice amount</h3>

                    {{ summaryList({
                        rows: [
                            {
                                key: { text: 'Total amount' },
                                value: { text: '£57.90' }
                            }]
                    }) }}

                    <h3 class="nhsuk-heading-m">Previous payments</h3>

                    {{ summaryList({
                        rows: [
                            {
                                key: { text: 'Payments made' },
                                value: { text: '£7.90' }
                            }]
                    }) }}

                    <p class="nhsuk-heading-l nhsuk-u-margin-bottom-6">Amount still to pay: £50</p>

                    {{ button({
                        classes: 'nhsuk-u-margin-bottom-0',
                        text: 'Pay in full',
                        href: '../gov-pay'
                    }) }}

                </div>

                <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="split-payment-over-several-payments">

                    <!-- CONTENT FOR SPLIT PAYMENT OVER SEVERAL PAYMENTS -->
                
                    <p>If you want spread the cost of your PCN over several payments, you can make regular partial payments using this service.</p>
                    <p>You'll need to make the first payment within 28 days (by {{ 28 | alterTodaysDateByNumberOfDays }}) and make regular monthly payments until you have paid the PCN in full.</p>
                    

                    {% if data.warningOption === 'true' %}

                        <!-- WARNING OPTION -->
                        {{ warningCallout({
                            classes: 'nhsuk-u-margin-bottom-5',
                            heading: 'Important',
                            HTML: '<p>These will not be taken automatically and you are responsible for keeping up regular monthly payments. If you do not, you may have to pay a surcharge of up to £50.</p>'
                        }) }}

                    {% else %}

                        <!-- INSET OPTION -->
                        {{ insetText({
                            classes: 'nhsuk-u-margin-bottom-5',
                            html: '<p>These will not be taken automatically and you are responsible for keeping up the payments.</p>'
                        }) }}
                        
                        <p>It is important that you remember to make regular monthly payments. If you do not, you may have to pay a surcharge of up to £50.</p>

                    {% endif %}

                     {{ button({
                        classes: 'nhsuk-u-margin-bottom-0',
                        text: 'Make a partial payment',
                        href: '../partial-payment-ALT'
                    }) }}
                    
                    
                </div>
            </div>




            <!-- OTHER WAYS TO PAY YOUR PCN -->
            <h2 class="nhsuk-heading-m">Other ways to pay your PCN</h2>

            <p>You can also make payments over the phone.</p>
            <p><strong>Telephone:</strong> 0300 330 9291</p>
            <p>You will need to keep a record of your PCN reference number to make a payment.</p>
            <p><a href="https://www.nhsbsa.nhs.uk/contact-nhs-help-health-costs" class="nhsuk-link--no-visited-state">Find out about call charges and other ways to contact us on our website.</a></p>
            

            <p>
                <a href="/v6-pcn/penalty-charge-notice-details">Cancel</a>
            </p>

            <script src="/js/tabs.js"></script>
        </div>
    </div>
{% endblock %}