{% extends 'layout.html' %}

{% block pageTitle %}
What happens next
{% endblock %}

{% block outerContent %}

{% endblock %}



{% block content %}
<main id="content" role="main">
  
  <div class="grid-row">
     <div class="column-two-thirds">
      {{ backLink({
         "href": "/v1/challenge",
         "text": "Back",
         "classes": ""
       }) }}
        <div class="heading-group">
         
           <p>Challenge an enquiry letter</p>
           <h1 class="nhsuk-heading-xl">What happens next?</h1>
        </div>
        <p>We will ask you a few simple questions. It may help to have your exemption certificate or benefits information ready.</p>
        <p>We'll just:</p>
     </div>
     <form action="/v1/benefit-between" method="post" class="form">
     <div class="column-two-thirds">
        <ol class="standard">
           <li style="border-top: none;">
             
              <div class="point">
                 <p>Ask for some details about your exemption or benefit.</p>
              </div>
           </li>
           <li>
             
              <div class="point">
                 <p>Ask about other exemptions you may have had, as this may be quicker for us to check.</p>
              </div>
           </li>
           <li>
             
              <div class="point">
                 <p>Tell you how to send us proof if we cannot confirm your exemption straight away.</p>
              </div>
           </li>
           <li>
            
              <div class="point">
                 <p>Let you know the next steps.<br></p>
              </div>
           </li>
        </ol>
        <br>
        <p><a href="https://www.nhsbsa.nhs.uk/our-policies/privacy/challenge-your-pcn-privacy-notice">Find out more about how we use your information (opens in a new window)</a>.</p>
        </div>
     </div>
     
     <div class="form-item-wrapper">
        <div class="form-group">
         <button class="nhsuk-button" type="submit">
            Next
          </button>
           <br>
           <br>
           <p class="navigation"><a class="cancel" href="start">Cancel</a></p>
        </div>
     </div>
  
</main>

    </div>

  </div>
  <style>

    

.heading-group p {
    margin: 0;
    padding: 0;
    color: gray;
    
    
}
.nhsuk-hint {
    margin-top: 0.26316em;
    margin-bottom: 1.05263em;
}
  </style>
{% endblock %}
