{% extends 'layout.html' %}

{% block pageTitle %}
  Confirmation page template - NHS.UK prototype kit
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
           An exemption has been found
          </h1>
          
          
          
          <h3 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            Reference number: <span class="nhsuk-caption-xl nhsuk-caption--bottom nhsuk-u-font-weight-bold" style="color: white;">7898787887</span>
          </h3>
        </div>
      </div>
     </div>

      </div>

      <p>Your case has been closed. You do not need to do anything else.</p>

      <h2>How to avoid a future enquiry letter</h2>

      <p>To avoid a future enquiry make sure your details are correct at your:</p>
      <ul>
        <li>GP surgery</li>
        <li>dental practice</li>
        <li>benefits organisations</li>
      </ul> 
        <p>If any of your details are not up to date, you may receive another enquiry letter in the future.</p>
     
        <p>If you are in receipt of <a href="">Universal Credit</a>, your entitlement to free NHS prescriptions and dental treatment depends on your earnings for the most recent assessment period.
        </p>
        <p> <a href="">Check if you are currently entitled to help with your health costs.</a></p>

<h3>Feedback</h3>
<p>Leaving feedback only takes 5 minutes. Your comments are extremely helpful and will help us to provide a better service.</p>
<a href="">Leave feedback</a>
      <p>Go back to <a href="/page-templates"><a>.</p>

    </div>
  </div>
{% endblock %}
