{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Which date would you like payments to be taken each month?
{% endblock %}

{% block beforeContent %}
    {{ backLink({
        text: 'Go back',
        href: 'javascript:history.back();'
    }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="direct-debit-check-address" method="post" class="form">

        <span class="nhsuk-caption-m">Pay a Penalty Charge Notice</span>
        <h1 class="nhsuk-heading-l">Which date would you like payments to be taken each month?</h1>
        <div class="nhsuk-form-group">
          <p>All payments will be taken on, or just after, your chosen date.</p>
          <p>Enter a payment date between 1 and 28.</p>

          <div class="nhsuk-date-input" id="example">
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                 Date
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day" name="example-day" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
       </div>
    </div>
   
            </fieldset>
        
        
    <div class="nhsuk-form-group">
     <button class="nhsuk-button" type="submit">
      Continue
     </button>
     <p><a href="penalty-charge-notice-details">Cancel</a></p>
    </div>

  
   

    </div>
  </div>

{% endblock %}
