{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
You didn't have a valid medical exemption certificate
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}



  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="5" method="get" class="form">

        <span class="nhsuk-caption-m">Confirm your entitlement</span>
        
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              You didn't have a valid maternity exemption certificate at the time, but you can still apply
            </h1>
          </legend>

          <p>Although you didn't have a valid maternity exemption certificate when you claimed a free prescription, you still have the chance to apply.</p>

          <h3>What to do next</h3>

         
          <ul>
            <li>Pay the original £35.20 prescription charge, and apply for a maternity exemption certificate. If your application is successful you won't have to pay your Penalty Charge</li>
            <a class="nhsuk-button" href="how-to-pay-maternity">How to pay and apply</a>
            <lI>Pay the total amount of £135.20</lI>
            <a class="nhsuk-button" href="pay-by-card">Pay now</a>
          </ul>
          

          

     

         
           
         

          <p>If you were not entitled to free or reduced cost NHS dental treatment but have an exceptional reason why you made this claim, you can ask us to review your enquiry letter. <a href="who-can-ask-for-review">Find out if you can ask for a review</a></p>
          <p><a href="">Print this page</a></p>
          <h3>Feedback</h3>
          <p>Leaving feedback takes 5 minutes. Your comments will help us to provide a better service.</p>

          <p><a href="url">Leave feedback</a></p>

              
              
                  
              
                    
              
              
        
        
        
        
        </div>



        </div>
         
          

        
   

    </div>
  </div>

{% endblock %}
