{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
    Your application has timed out - Respond to your letter
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <span class="nhsuk-caption-m">Pay or challenge an NHS penalty charge</span>
        <h1 class="nhsuk-heading-l">
            Your application has timed out
        </h1>
    
        <p>
            We have deleted your answers because you did not do anything for 30 minutes. This is to protect your information.
        </p>

        <p>You'll need to start again.</p>

        <a href="respond-to-your-letter" class="nhsuk-button">
            Start again
        </a>
    </div>
</div>
{% endblock %}
