{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
We cannot set up your Direct Debit
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <span class="nhsuk-caption-l">Pay a Penalty Charge Notice</span>
    <h1>
      We cannot set up your Direct Debit
    </h1>
  
    <p>We've been unable to verify your details.</p>
    
    <p>You'll need to pay by card if you want to pay online.</p>

    <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
      Pay
    </button>

    <h2>Pay in instalments</h2>
    <p>If you want to pay in instalments, you'll need to contact us by:</p>

    <p><b>Email</b>: <a href="mailto:someone@example.com">nhsbsa.pecs@nhsbsa.nhs.uk</a> </p>

    <p><b>Telephone</b>: 0300 330 9291</p>
    
    <p>You'll need your reference number. You can find this on your Penalty Charge Notice. </p>

    <p><a href="https://www.nhsbsa.nhs.uk/contact-nhs-help-health-costs" target="_blank">Find out about call charges and other ways to contact us on our website</a>. </p>

    <p><a href="/v6-pcn-decs/penalty-charge-notice-details"> Cancel</a></p>
   
  </div>
</div>
<style>

</style>








</div>
</div>

{% endblock %}