{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
We found a Hc3 cert with higher contribution
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <span class="nhsuk-caption-l">Pay a Penalty Charge Notice</span>
    <h1>
      We found a HC3 certificate with a higher contribution amount - you still owe the original amount
    </h1>
    
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading">
          Original Penalty Charge Notice amount

        </h3>
        <dl class="nhsuk-summary-list nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Dental treatment charges
            </dt>
            <dd class="nhsuk-summary-list__value">
              £14.30
            </dd>

          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
               HC3 Contribution
            </dt>
            <dd class="nhsuk-summary-list__value">
              £498.45
            </dd>

          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Amount you should have paid
            </dt>
            <dd class="nhsuk-summary-list__value">
              £14.30
            </dd>

          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Amount you've already paid
            </dt>
            <dd class="nhsuk-summary-list__value">
              £0.00
            </dd>

          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Outstanding Treatment Charge
            </dt>
            <dd class="nhsuk-summary-list__value">
              £14.30
            </dd>

          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Penalty Charge
            </dt>
            <dd class="nhsuk-summary-list__value">
              £71.50
            </dd>

          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Surcharge
            </dt>
            <dd class="nhsuk-summary-list__value">
              £35.75
            </dd>

          </div>

        </dl>
      
    
        </dl>
        <p style="font-weight: bold; font-size:36px;">
         Total amount to pay: £121.55

        </p>

      </div>
    </div>

    <p>A change in circumstances may have meant you got a new HC3 certificate with a higher contribution amount.</p>

    <div class="nhsuk-inset-text">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <p>You do not have to pay an extra charge, but still owe the orginal amount of £121.55.</p>
    </div>


    <div class="nhsuk-form-group">

      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-fieldset__heading">
            What to do next
          </h1>
        </legend>
    
        <div class="nhsuk-radios">
    
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-hints-1" name="example-hints" type="radio" value="gateway" aria-describedby="example-hints-1-item-hint">
            <label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
              Pay the total amount of £121.55
            </label>
            <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
            
            </div>
          </div>
    
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-hints-2" name="example-hints" type="radio" value="verify" aria-describedby="example-hints-2-item-hint">
            <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
              Confirm my entitlement
            </label>
            <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-2-item-hint">
              If you were pregnant or getting benefits at the time you claimed, you can continue your challenge. You may have been entitled to free dental treatment.
            </div>
          </div>
    
        </div>
      </fieldset>
    
    </div>
   <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
      Continue
    </button>

    <p><h2>How to avoid a future Penalty Charge Notice</h2></p>
    <p>We match exemptions automatically using a combination of your:</p>
    <ul>
      <li>Name</li>
      <li>Address</li>
      <li>Date of birth</li>
      <li>NHS Number</li>
    </ul>

    <p>Make sure these are correct at your GP surgery, dental practice and any benefits organisations. </p>
    <p><a href="">Contact us to check the name and address on your NHS exemption.</a></p>
    <p>If any of your details are not up to date, you may receive another Penalty Charge Notice in the future.</p>
    <p>If you were not entitled to free or reduced cost dental treatment but have an exceptional reason why you made the claim, you can ask us to review your Penalty Charge Notice. <a href="">Find out if you can ask for a review.</a></p>
    <p><a href="">Print this page</a></p>

    <p><h2>Feedback</h2></p>
    <p>Leaving feedback only takes 5 minutes. Your comments are extremely helpful and will help us to provide a better service.</p>
    <p><a href="https://online1.snapsurveys.com/interview/c65416e2-df71-4e71-a691-315b9abb4eae"target="_blank">Leave feedback (opens in a new window)</a></p>
   
  </div>
</div>
<style>

</style>







   

        
   



    </div>
  </div>

{% endblock %}
