{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
We found an HC3 certificate and have recalculated your penalty charge - Confirm your entitlement - Respond to your letter
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <span class="nhsuk-caption-l">Pay a Penalty Charge Notice</span>
    <h1>
      We found an HC3 certificate and have recalculated your penalty charge
    </h1>
    
    <p>You now owe a different amount.</p>
  
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading">
          Recalculated Penalty Charge Notice amount

        </h3>
        <dl class="nhsuk-summary-list nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Dental treatment charges
            </dt>
            <dd class="nhsuk-summary-list__value">
              £14.30
            </dd>

          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
               HC3 Contribution
            </dt>
            <dd class="nhsuk-summary-list__value">
              £498.45
            </dd>

          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Amount you should have paid
            </dt>
            <dd class="nhsuk-summary-list__value">
              £14.30
            </dd>

          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Amount you've already paid
            </dt>
            <dd class="nhsuk-summary-list__value">
              £0.00
            </dd>

          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Outstanding treatment charge
            </dt>
            <dd class="nhsuk-summary-list__value">
              £14.30
            </dd>

          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Penalty Charge
            </dt>
            <dd class="nhsuk-summary-list__value">
              £71.50
            </dd>

        </dl>
      
    
        </dl>
        <p style="font-weight: bold; font-size:36px;">
         Total amount to pay: £85.80

        </p>

      </div>
    </div>
   

    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-fieldset__heading">
            What to do next
          </h1>
        </legend>
    
        <div class="nhsuk-radios">
    
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-hints-1" name="example-hints" type="radio" value="gateway" aria-describedby="example-hints-1-item-hint">
            <label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
              Pay the total amount of £85.80
            </label>
            <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
            
            </div>
          </div>
    
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-hints-2" name="example-hints" type="radio" value="verify" aria-describedby="example-hints-2-item-hint">
            <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
              Confirm I was entitled to free NHS dental treatment
            </label>
            <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-2-item-hint">
              If you were pregnant or getting benefits at the time you claimed, you may have been entitled to free NHS dental treatment.
            </div>
          </div>
        </div>

      </fieldset>
    </div>

    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          I was not entitled to free NHS dental treatment but have an exceptional reason why I made the claim
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>If you were not entitled to free NHS dental treatment but have an exceptional reason why you made the claim, you can ask us to review your Penalty Charge Notice. <a href="/v6-pcn-decs/who-can-ask-for-review">Find out if you can ask for a review</a>.</p>    
      </div>
    </details>

   <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
      Continue
    </button>

   
  </div>
</div>
<style>

</style>







   

        
   



    </div>
  </div>

{% endblock %}
