{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
We'll review your case and get back to you
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: 'javascript:history.back();',
    text: 'Go back'
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <span class="nhsuk-caption-m">Confirm your entitlement</span>
    <h1 class="nhsuk-heading-l">We'll review your case and get back to you. How can we contact you?</h1>

    <form action="contact-method" method="post" class="form">

      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">

          <div class="nhsuk-hint" id="symptoms-hint">
            Select all options that are relevant to you.
          </div>

          <div class="nhsuk-checkboxes">

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="symptoms-1" name="contact" type="checkbox" value="email"
                data-checkbox-exclusive-group="symptoms-list">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="symptoms-1">
                Email
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="symptoms-2" name="contact" type="checkbox" value="phone"
                data-checkbox-exclusive-group="symptoms-list">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="symptoms-2">
                Telephone
              </label>
            </div>







          </div>
        </fieldset>


      </div>
      <button class="nhsuk-button" type="submit">
        Continue
      </button>
    </form>

    <p><a href="respond-to-your-letter">Cancel</a></p>

  </div>
</div>

{% endblock %}