{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
We cannot confirm you were entitled
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}



  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="5" method="get" class="form">

        <span class="nhsuk-caption-m">Confirm your entitlement</span>
        
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              We cannot confirm you were entitled
            </h1>
          </legend>

          <p>The information you've given us does not prove you were entitled to free NHS prescriptions between 18 November 2019 to 30 November 2019.</p>

          <h3>If you think you were entitled</h2>

         
            <p>Send us proof to show that you were entitled to free NHS prescriptions or had a valid Prescription Prepayment Certificate between 18 November 2019 to 30 November 2019.</p>
          

          <p><a href="we-need-proof">Find out about what we can accept as proof and where to send it</a>.</p>

          <h3>If you were not entitled</h2>

         
            <p>You will be sent a Penalty Charge Notice. This will include information on how and when to pay your penalty charge.</p>
         

          <p>If you were not entitled to free NHS prescriptions but have an exceptional reason why you made this claim, you can ask us to review your enquiry letter. <a href="who-can-ask-for-review">Find out if you can ask for a review</a>.</p>
          <p><a href="">Print this page</a></p>
          <h3>Feedback</h3>
          <p>Leaving feedback takes 5 minutes. Your comments will help us provide a better service.</p>

          <p><a href="https://online1.snapsurveys.com/interview/c65416e2-df71-4e71-a691-315b9abb4eae">Leave feedback (opens in a new window)</a></p>
              
              
                  
              
                    
              
              
        
        
        
        
        </div>



        </div>
         
          

        
   

    </div>
  </div>

{% endblock %}
