{% extends 'layout.html' %}

{% block pageTitle %}
An exemption has been found
{% endblock %}

{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <span class="nhsuk-caption-m">Confirm your entitlement</span>
        <h1>An exemption has been confirmed</h1>
      <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading" style="text-align: center; color: white;">
           Thank you
          </h2>
          
          <h2 class="nhsuk-card__content" style="text-align: center; color: white;">Your case has now been closed.</h2>
          
          
          
        </div>
      </div>
     </div>

      </div>

      <p>We have matched an exemption based on the details you have given.</p>


      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>Michelle Doe</p>
        <p>Reference number 01234567890</p>
      </div>
      
      <p><a href="">Print this page</a></p>
      
      <h2>How to avoid a future enquiry letter</h2>
      <p>We match exemptions using a combination of your:</p>
      <ul>
        <li>name</li>
        <li>address</li>
        <li>date of birth</li>
        <li>NHS number</li>
      </ul> 
        <p>Make sure these are correct at your GP surgery, dental practice, and any benefits organisations.</p>
     <p>If any of your details are not up to date, you may receive another enquiry letter in the future.</p>
     <p> <a href="https://services.nhsbsa.nhs.uk/check-for-help-paying-nhs-costs/start">Check if you are currently entitled to help with your health costs</a>.</p>
    <h3>Universal Credit</h2>
     <p>If you get Universal Credit, your entitlement to help with your health costs can change. It depends on your take-home pay in the last assessment period.</p>
     <p><a href="https://www.nhsbsa.nhs.uk/check-if-youre-eligible-help/getting-benefits/hwhc-universal-credit">Read more about Universal Credit exemptions</a>.</p>
        
       
<h3>Feedback</h3>
<p>Leaving feedback takes 5 minutes. Your comments will help us to provide a better service.</p>
<p><a href="">Leave feedback</a>.</p>
   

    </div>
  </div>
{% endblock %}
