{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Check your address is correct
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: 'javascript:history.back();',
    text: 'Go back'
  }) }}
{% endblock %}

{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="address-contact" method="get" class="form">

        <span class="nhsuk-caption-m">Confirm your entitlement</span>
        <h1 class="nhsuk-heading-l">Is this your address?</h1>
        
    
        <dl class="nhsuk-summary-list">

        
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Address
            </dt>
            <dd class="nhsuk-summary-list__value">
              12 Old Oak Road<br>Throckley<br> NE67 9AD
            </dd>
        
        
          </div>
        
          
        
          </div>
        
        </dl>
        </div>
        
        <div class="nhsuk-form-group">

          <div class="nhsuk-radios nhsuk-radios--inline">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-1" name="contact" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                Yes
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-2" name="contact" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
                No
              </label>
            </div>
      
          </div>
          </div>
        



          </fieldset>
        
      
    
    <button class="nhsuk-button" type="submit">
     Continue
    </button>
    </div></form>

        
   

    </div>
  </div>

{% endblock %}
