{% extends 'layout.html' %}

{% block pageTitle %}What is your email address?{% endblock %}
=
{% block beforeContent %}
    {{ backLink({
        text: 'Go back',
        href: 'javascript:history.back();'
    }) }}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        
        <form action="email-choice-EXPEDITE-v3" method="post" novalidate>

            <span class="nhsuk-caption-m">Your details</span>
            {% set yesHTML %}

                    <!-- YES HTML -->
                    {{ input({
                        id: 'emailAddress',
                        name: 'emailAddress',
                        value: data.emailAddress,
                        classes: 'nhsuk-u-width-two-thirds',
                        attributes: { 'autocomplete' : 'off', 'inputmode' : 'email' },
                        label: {
                            text: 'Email address'
                        }
                    }) }}

                {% endset %}


                {{ radios({
                    name: 'hasEmailAddress',
                    value: data.hasEmailAddress,
                    fieldset: {
                        legend: {
                            text: 'Do you have an email address?',
                            classes: 'nhsuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    hint: {
                        text: 'You do not need to provide an email address, but if you do we can send you updates about your case.'
                    },
                    items: [
                        {
                            value: 'yes',
                            text: 'Yes',
                            conditional : {
                                html : yesHTML
                            }
                        },
                        {
                            value: 'no',
                            text: 'No'
                        }
                    ]
                }) }}


                {% set detailsHTML %}

                    <p>We will send you an email if you use this online service to:</p>
                    <ul class="nshuk-list nhsuk-list-bullet">
                    {% if data.settings[version].type === 'decs' %}
                        <li>confirm you were entitled to free NHS prescriptions</li>
                    {% else %}
                        <li>confirm you were entitled to free or reduced cost NHS dental treatment</li>
                    {% endif %}
                        <li>try to confirm your entitlement but we cannot find your details</li>
                        <li>accept a penalty charge</li>
                        <li>make a payment towards a penalty charge</li>
                    </ul>

                {% endset %}

                {{ details({
                    text: 'What type of updates will I receive?',
                    html: detailsHTML
                }) }}



                {{ button({
                    text: 'Continue'
                }) }}
        
        </form>


    </div>
</div>

{% endblock %}
