{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}Enter your postcode as shown on your letter{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: 'javascript:history.back();',
    text: 'Go back'
  }) }}
{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {% if data.settings[version].allowExpedite === 'true' %}
      <form action="enter-postcode" method="post" novalidate>
    {% else %}
      <form action="v4-postcode-input" method="get" class="form">
    {% endif %}

      <span class="nhsuk-caption-m">Your details</span>
      <h1 class="nhsuk-heading-l">Enter your postcode as shown on your letter</h1>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="one-half">
          <div class="nhsuk-hint" id="example-with-hint-text-hint">
            For example, WA4 1AB
          </div>
        </label>
        <input class="nhsuk-input nhsuk-u-width-one-half" id="v3-postcode-input" name="postcode" type="text">
      </div>
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
      </button>
    </form>
    <p><a href="respond-to-your-letter">Cancel</a></p>
  </div>
</div>

{% endblock %}