{% extends 'layout.html' %}

{% block pageTitle %}
You are not entitled to free NHS prescriptions
{% endblock %}




{% block content %}




<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">




        {{ panel({
            titleText: 'You have accepted the penalty charge',
            html: 'We have sent you a letter with the details of your Penalty Charge Notice (PCN)',
            classes: 'nhsuk-u-margin-bottom-6'
        }) }}


        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
 

            <h3 class="nhsuk-heading-m">Penalty Charge Notice amount</h3>

                {% set summaryListRows = [
                    {
                      key: { text: 'Prescription charges' },
                      value: { text: '£9.90' }
                    },
                    {
                      key: { text: 'Penalty charge' },
                      value: { text: '£50.00' }
                    },
                    {
                      key: { text: 'Total amount to pay' },
                      value: { html: '<strong>£59.90</strong>' }
                }]%} 



                {{ summaryList({
                    rows: summaryListRows
                }) }}

                <p class="nhsuk-heading-l nhsuk-u-margin-bottom-0">Amount to pay: £59.90</p>


                {{ warningCallout({
                    heading: 'Please note',
                    classes: 'nhsuk-u-margin-bottom-0',
                    HTML: '<p>If you pay today, you will still receive a PCN letter. This is for your records, and will not represent an additional penalty charge.</p>'
                }) }}


                {{ button({
                    classes: 'nhsuk-u-margin-top-6',
                    text: 'Pay your penalty charge',
                    href: '../v6-pcn/payment-method'
                }) }}


                


            </div>
        </div>


        <h2 class="nhsuk-heading-m">Other ways to pay your PCN</h2>
        <p>You can also make payments over the phone.</p>
        <p><strong>Telephone:</strong> 0300 330 9291</p>
        <p>You will need to keep a record of your PCN reference number to make a payment.</p>
        <p><a href="https://www.nhsbsa.nhs.uk/contact-nhs-help-health-costs" class="nhsuk-link--no-visited-state">Find out about call charges and other ways to contact us on our website</a></p>
            

        <p><a href="/v6-pcn/penalty-charge-notice-details">Cancel</a></p>


        
    


    </div>
</div>

    {% endblock %}