{% extends 'layout.html' %}

{% block pageTitle %}
Respond to your letter
{% endblock %}




{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">


    <h1>Respond to your letter</h1>

    <p>Use this service to:</p>
    <ul>
      <li>confirm you were entitled to help with your health costs</li>
      <li>pay a Penalty Charge Notice if you were not exempt</li>

    </ul>
    <h2 class="nhsuk-heading-l">Before you start</h2>
    <p>You will need your reference number. You can find this on your letter.</p>
    <p><a href="https://www.nhsbsa.nhs.uk/contact-nhs-help-health-costs">Contact us if you have lost your letter</a>.
    </p>
    <p>If you were entitled to help with your health costs it may help to have your exemption certificate or benefits
      information ready.</p>
    <p>If you get Universal Credit, your entitlement to help with your health costs depends on your take-home pay in the
      last assessment period.</p>
    <p> <a href="https://www.nhsbsa.nhs.uk/check-if-youre-eligible-help/getting-benefits/hwhc-universal-credit">Read
        more about Universal Credit exemptions</a>.</p>
    <p>If you are not sure if you were entitled you can <a
        href="https://services.nhsbsa.nhs.uk/check-for-help-paying-nhs-costs/start">check if you are currently entitled
        to help with your health costs</a>.</p>
    <p>If you are paying a Penalty Charge Notice you will need your card details. You can pay by credit or debit card,
      or by Direct Debit.</p>
    <a href="enter-reference-number" class="nhsuk-button">
      Start now
    </a>



    <h3>How we use your information</h3>

    <p>We use the information you provide to help us match your details. You can find out more about <a
        href="https://www.nhsbsa.nhs.uk/our-policies/privacy/challenge-your-pcn-privacy-notice" >how we
        use your information</a>.</p>


  </div>

</div>
{% endblock %}