{% extends 'layout.html' %}

{% block pageTitle %}
We are now reviewing your case
{% endblock %}

{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <!-- <span class="nhsuk-caption-m">Confirm your entitlement</span>
        <h1>An exemption has been confirmed</h1> -->
      <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading" style="text-align: center; color: white;">
           Thank you
          </h2>
          
          <h2 class="nhsuk-card__content" style="text-align: center; color: white;">We are now reviewing your case and will contact you within 2 working days.</h2>
          
          
          
        </div>
      </div>
     </div>

      </div>

      <p>No additional charges will be added during this time.</p>
      <p>You do not need to do anything until we contact you.</p>


      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>Michelle Doe</p>
        <p>Reference number: 01234567890</p>
      </div>
      
      <p><a href="">Print this page</a></p>
      
      
       
<h3>Feedback</h3>
<p>Leaving feedback takes 5 minutes. Your comments will help us provide a better service.</p>
<p><a href="https://online1.snapsurveys.com/interview/c65416e2-df71-4e71-a691-315b9abb4eae"target="_blank">Leave feedback (opens in a new window)</a></p>
   

    </div>
  </div>
{% endblock %}
