<!--
  This is the main layout where you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Extends the prototype kit template which in turn extends the NHS.UK frontend template -->
{% extends "prototype-kit-template.njk" %}

{% block head %}
  <!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
  <link href="/assets/sass/main.css" rel="stylesheet">
{% endblock %}

<!-- Edit the header -->
<!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}

   {{ header({
    service: {
        text: serviceName,
        href: "/"
      }
    })
  }}

{% endblock %}

    {% if data.debug === 'true' %}
    
      <div class="nhsuk-width-container">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">

            <h2 class="nhsuk-heading-m">Session data</h2>
            {{ textarea({
              value: data | dump
            }) }}

          </div>
        </div>
      </div>

      {% set attributes = { 
        'data-type': data.type,
        'data-letter': data.letter,
        'data-status': data.status
      } %}

      {% set metaLinks = [
        { URL: '?debug=false', label: 'Debug' },
        { URL: '?type=pecs', label: 'PECS' },
        { URL: '?type=decs', label: 'DECS' },
        { URL: '?letter=enquiry', label: 'Enquiry' },
        { URL: '?letter=pcn', label: 'PCN' },
        { URL: '?letter=scn', label: 'SCN' },
        { URL: '?status=default', label: 'Default' },
        { URL: '?status=dd-blocked', label: 'DD blocked' }
        ] %}

    {% endif %}
<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
  {{ footer({
    meta: {
      items: [
        {
          href: "/",
          text: "Home"
        },
        {
          href: "/prototype-admin/reset?returnPage=" + (currentPage | urlencode),
          text: "Reset data"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module" src="/assets/javascript/main.js"></script>
  {% block pageScripts %}{% endblock %}
{% endblock %}
