<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}

<!-- Variables -->
{% set loggedIn = false %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
PCN
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <!-- Change the page title here -->
    <h1 class="nhsuk-heading-xl"><span class="nhsuk-caption-xl nhsuk-caption--bottom">Respond to your letter</span>Penalty Charge Notice Prototypes
    </h1>
    <!-- Add your content here -->
    <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->
  

    <hr>

    <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-5">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text"><small>Version 5 - Private Beta - (08/03/2023)</small></span>
      </summary>

      

      <div class="nhsuk-details__text">
        
        <h2>Prototype Functionality</h2>

        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              DWP Journey:
            </dt>
            <dd class="nhsuk-summary-list__value">
              NE1 3JA
            </dd>
        
            
        
          </div>
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              NHSBSA Journey:
            </dt>
            <dd class="nhsuk-summary-list__value">
             NE2 4XL
            </dd>
        
           
        
          </div>
        
          
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
             We cannot find your details:
            </dt>
            <dd class="nhsuk-summary-list__value">
              WA4 1AB
              
            </dd>
        
            
        
          </div>
        
        </dl>

        <h2 class="nhsuk-heading-l">Hypothesis A
          
        </h2>

        <p style="background: #DEE0E2; padding: 20px;">We believe that updating the challenge journey in the new toolkit and inline with GDS will improve the accessibility of the journey whilst also keeping consistent with the NHS UK branding. This journey is to be tested on the 27/3/2023</p>

        <hr>

        <h3 class="nhsuk-heading-m">What we created:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>We created a PCN journey with content thats been reviewed by the content designer and also updated components inline with GDS</li>
          
         
        </ul>
        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>We plan on doing user research with the PCN journey on the week commencing the 27/3/2023</li>
       
        
          <li>We want to test the journey and see if people can successfully pay</li>
        
          
        </ul>
        <hr>

        <a class="nhsuk-button" href="v6-pcn/respond-to-your-letter">Respond to your letter</a>


        
      </div>
    </details>

    

  </div>
</div>
{% endblock %}