{% extends 'layout.html' %}

{% block pageTitle %}
An exemption has been found
{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    




    <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
      <div class="nhsuk-card__content">

        <h1 class="nhsuk-panel__title nhsuk-heading-l" style="text-align: center; color: white;">
          Your case has already been closed
        </h1>
        <p class="nhsuk-panel__body" style="text-align: center; color: white;">
          You do not need to do anything else.
        </p>
        
      </div>
    </div>





    <div class="nhsuk-inset-text">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <p>Michelle Doe</p>
      <p>Reference number: 01234567890</p>
    </div>




    <p><a href="https://www.nhsbsa.nhs.uk/contact-nhs-help-health-costs">Contact us if you have any other queries</a>.</p>
    <p><a href="">Print this page</a></p>

  </div>
</div>
{% endblock %}