{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Your exemption certificate was not valid decs
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="confirmation-page" method="post" class="form">

      <span class="nhsuk-caption-l">Confirm your entitlement</span>
      <h1 class="nhsuk-heading-xl">Your exemption certificate was not valid at the time you claimed</h1>

      <p>This may have been because your certificate had expired or you did not get the certificate in time.</p>
      <h2>What to do next</h2>
      
      <p>Send us proof to show that you were entitled to free or reduced cost dental treatment between 01 November 2022 and 30 November 2022.</p>
      
      <p><a href="url">How to send proof</a></p>
      <div>

      </div>
      <p>If you do not send us proof, or we cannot find your exemption, you will be sent a penalty charge notice.</p>
      <p>If you were not entitled to free or reduced cost dental treatment but have an exceptional reason why you made the claim, you can ask us to review your enquiry letter. <a href="url"> Find out if you can ask for a review.</a></p>



    
      <p><a href="url">Print this page</a></p>



      <p><h3>Feedback</h3></p>
      <p>Leaving feedback only takes 5 minutes. Your comments are extremely helpful and will help us to provide a better service.</p>

      <p><a href="url">Leave feedback</a></p>

    </div>
  </div>

{% endblock %}
