{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
We could not verify the extra details
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="check-name-input" method="get" class="form">

      <span class="nhsuk-caption-m">Confirm your entitlement</span>
      <h1 class="nhsuk-heading-l">We could not verify the extra details you supplied</h1>
      <div class="nhsuk-form-group">

<p>The information you have given us does not prove you were entitled to free NHS prescriptions on 18 December 2019.</p>

<h2 class="nhsuk-heading-m">What to do next</h2>
<p>Send us proof that you were entitled to free NHS prescriptions on 19 December 2019.</p>

<p><a href="/v5-enquiry/we-need-proof">Find out about what we can accept as proof and where to send it</a></p>
<div></div>
<p></p>

<p>If you do not send us proof, or we cannot find your exemption, you will be sent a penalty charge notice.</p>

<p>If you were not entitled to free NHS prescriptions but have an exceptional reason why you made this claim, you can ask us to review your enquiry letter. <a href="/v5-enquiry/who-can-ask-for-review">Find out if you can ask for a review.</a></p>

<p><a href="url">Print this page</a></p>
</div>

<h3 class="nhsuk-heading-s">Feedback</h3>

<p>Leaving feedback takes 5 minutes. Your comments will help us provide a better service.</p>

<p><a href="https://online1.snapsurveys.com/interview/c65416e2-df71-4e71-a691-315b9abb4eae"target="_blank">Leave feedback (opens in a new window)</a></p>

   

    </div>
  </div>

{% endblock %}
